.select {
  position: relative;
  width: 100%; }
  .select:hover label {
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none; }
  .select label {
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    display: block;
    width: 100%;
    height: 34px;
    line-height: 34px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0px 20px;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid #FFD6E2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    position: relative; }
    .select label:hover {
      border: 1px solid rgba(0, 0, 0, 0.1);
      outline: none; }
    .select label:focus {
      border: 1px solid rgba(0, 0, 0, 0.1);
      outline: none; }
  .select .icon {
    display: inline-block;
    width: 20px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .select .icon:before {
      content: '';
      display: inline-block;
      width: 50%;
      height: 1px;
      background: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 50%;
      left: 1px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
      transform: translateY(-50%) rotate(45deg);
      -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center; }
    .select .icon:after {
      content: '';
      display: inline-block;
      width: 50%;
      height: 1px;
      background: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 50%;
      right: 2px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
      transform: translateY(-50%) rotate(-45deg);
      -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center; }
  .select .icon_active:before {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg); }
  .select .icon_active:after {
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg); }
  .select ul {
    display: none;
    min-width: 100%;
    padding: 0;
    background: #fff;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: auto;
    right: auto;
    top: 33px;
    z-index: 100;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    max-height: 250px; }
    .select ul li {
      color: #333 !important;
      margin-top: 5px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      list-style: none;
      cursor: pointer;
      -webkit-transition: .3s linear;
      -o-transition: .3s linear;
      transition: .3s linear; }
      .select ul li:first-child {
        margin-top: 0; }
      .select ul li:before {
        display: none; }
      .select ul li a {
        font-family: "Work Sans", sans-serif;
        display: block;
        color: #333 !important;
        padding: 7px 20px;
        text-decoration: none; }
        .select ul li a:hover, .select ul li a:focus, .select ul li a:active {
          text-decoration: none;
          color: #333 !important; }

/* ----------------
SINGLE PRODUCT
---------------- */
div.product {
  max-width: 1060px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 50px auto 150px auto; }
  div.product .summary.entry-summary {
    position: relative; }
    div.product .summary.entry-summary p.price {
      padding: 0;
      margin: 0;
      color: #EF86A5; }
  div.product .woocommerce-variation-price .price {
    color: #EF86A5 !important; }
  div.product .woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  div.product .flex-viewport {
    max-height: 500px;
    min-height: 500px; }
  div.product .flex-control-nav.flex-control-thumbs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 110px;
    min-width: 110px;
    padding-right: 30px;
    height: 500px;
    overflow: auto !important; }
    div.product .flex-control-nav.flex-control-thumbs li {
      width: 80px !important;
      height: 60px;
      margin-bottom: 30px !important; }
  div.product form .quantity {
    float: none !important;
    margin-top: 47px !important;
    display: block;
    max-width: 120px;
    width: 100%;
    text-align: center;
    padding: 5px 15px;
    border: 1px solid #A9A9A9;
    position: relative; }
    div.product form .quantity .quantity-plus {
      padding: 2px;
      cursor: pointer; }
    div.product form .quantity .quantity-minus {
      padding: 2px;
      cursor: pointer; }
    div.product form .quantity .screen-reader-text {
      position: static !important; }
      div.product form .quantity .screen-reader-text:before {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 1;
        color: #333;
        content: 'Quantity:';
        display: block;
        position: absolute;
        top: -25px;
        left: 0; }
    div.product form .quantity .qty {
      border-color: transparent; }
  div.product form .single_add_to_cart_button {
    background-color: #FFEF2D !important;
    font-size: 12px !important;
    color: #000 !important;
    letter-spacing: 0px;
    text-align: right;
    float: none !important;
    padding: 12px 12px 12px 42px !important;
    position: relative !important;
    margin-top: 30px !important; }
    div.product form .single_add_to_cart_button:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 12px;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 15px;
      height: 15px;
      background: url(assets/images/cart.svg) no-repeat center center; }
  div.product form .label {
    padding: 0 !important; }
    div.product form .label label {
      font: 800 16px/1 "Helvetica Neue",Helvetica,Arial,sans-serif;
      color: #333;
      display: block;
      text-align: left;
      margin-top: 30px;
      margin-bottom: 10px; }
  div.product form .attribute-option {
    font: 500 12px/1 "Work Sans", sans-serif;
    color: #333;
    line-height: 25px;
    text-align: center;
    width: 25px;
    height: 25px;
    margin: 0 0 0 5px;
    display: inline-block;
    vertical-align: top;
    list-style: none;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer; }
    div.product form .attribute-option:first-child {
      margin: 0; }
    div.product form .attribute-option.active-option {
      border: 1px solid #333; }
  div.product form #pa_color {
    position: absolute;
    display: none; }
    div.product form #pa_color ~ .attribute-option span {
      color: transparent !important; }
  div.product form #pa_size {
    position: absolute;
    display: none; }
  div.product form .reset_variations {
    display: none !important; }
  div.product .woocommerce-tabs.wc-tabs-wrapper {
    padding-top: 60px; }
    div.product .woocommerce-tabs.wc-tabs-wrapper .tabs.wc-tabs {
      background: #fff;
      padding: 0; }
      div.product .woocommerce-tabs.wc-tabs-wrapper .tabs.wc-tabs:before {
        content: none; }
      div.product .woocommerce-tabs.wc-tabs-wrapper .tabs.wc-tabs li {
        background: #fff;
        border-color: #fff;
        border: none;
        padding: 15px 30px 0px 0;
        margin: 0; }
        div.product .woocommerce-tabs.wc-tabs-wrapper .tabs.wc-tabs li:before {
          content: none; }
        div.product .woocommerce-tabs.wc-tabs-wrapper .tabs.wc-tabs li:after {
          content: none; }
        div.product .woocommerce-tabs.wc-tabs-wrapper .tabs.wc-tabs li.active:before {
          content: '';
          width: -webkit-calc(100% - 30px);
          width: calc(100% - 30px);
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          background: #EF86A5; }
        div.product .woocommerce-tabs.wc-tabs-wrapper .tabs.wc-tabs li a {
          font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 16px;
          font-weight: bold;
          line-height: 1;
          color: #333; }
    div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Tabs-panel.woocommerce-Tabs-panel--description.panel.entry-content.wc-tab h2 {
      display: none; }
    div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews #review_form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative; }
    div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .user_photo {
      display: inline-block;
      vertical-align: top;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      width: 55px;
      height: 55px;
      margin-right: 34px; }
    div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-form {
      position: relative;
      padding-right: 110px; }
    div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-respond {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      margin-top: 8px !important; }
      div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-respond textarea {
        font-family: "Work Sans", sans-serif;
        color: #333;
        padding: 7px 10px;
        border: 1px solid #333;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        background: transparent;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        font-size: 18px;
        height: 41px !important; }
        div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-respond textarea::-webkit-input-placeholder {
          color: #333;
          font-family: "Work Sans", sans-serif; }
        div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-respond textarea::-moz-placeholder {
          color: #333;
          font-family: "Work Sans", sans-serif; }
        div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-respond textarea:-ms-input-placeholder {
          color: #333;
          font-family: "Work Sans", sans-serif; }
        div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-respond textarea:-moz-placeholder {
          color: #333;
          font-family: "Work Sans", sans-serif; }
        @media (max-width: 768px) {
          div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-respond textarea {
            padding-right: 75px; } }
        div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-respond textarea:hover, div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-respond textarea:active {
          background: #fff; }
    div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .form-submit {
      position: absolute;
      right: 0;
      bottom: 38px; }
      @media (max-width: 768px) {
        div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .form-submit {
          right: 107px;
          bottom: 40px; } }
      div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .form-submit .submit {
        background-color: transparent !important;
        color: #EF86A5 !important; }
    div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .stars {
      display: inline-block; }
      div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .stars span a {
        color: #FFEF2D !important; }
    div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .commentlist {
      margin-top: 40px !important;
      margin-left: 50px !important;
      width: auto !important; }
    div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-form-author,
    div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-form-email {
      display: none; }
      div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-form-author:hover, div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-form-author:focus, div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-form-author:active,
      div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-form-email:hover,
      div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-form-email:focus,
      div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-form-email:active {
        border-color: #333; }
    div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment_container img {
      display: inline-block;
      vertical-align: top;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      width: 45px;
      height: 45px;
      margin-right: 34px;
      border: none !important; }
    div.product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment_container .comment-text {
      border: none !important;
      padding-top: 0 !important; }
  div.product .woocommerce-variation.single_variation {
    display: inline-block;
    vertical-align: top;
    margin: 37px 0 0 30px; }

/* --------------
CARD
-------------- */
.container-cards {
  max-width: 1060px;
  width: 100%;
  margin: 40px auto 120px auto;
  font-size: 0; }

.container-card {
  width: -webkit-calc(100% / 4);
  width: calc(100% / 4);
  padding: 25px 10px;
  padding-bottom: 60px;
  display: inline-block;
  vertical-align: top;
  position: relative; }
  @media (max-width: 1200px) {
    .container-card {
      width: -webkit-calc(100% / 3);
      width: calc(100% / 3); } }
  @media (max-width: 767px) {
    .container-card {
      width: -webkit-calc(100% / 2);
      width: calc(100% / 2); } }
  @media (max-width: 500px) {
    .container-card {
      width: -webkit-calc(100% / 1);
      width: calc(100% / 1); } }
  .container-card:hover .container-pop-up-card {
    height: 60px;
    opacity: 1; }

.card {
  border: 1px solid #0b3747;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  padding: 30px;
  min-height: 358px;
  position: relative; }
  .card .black {
    background: #333; }
  .card .pink {
    background: #EF86A5; }
  .card .white {
    background: #fff; }
  .card .selling {
    background: #EF86A5;
    padding: 5px 12px;
    font: 500 12px/1 "Work Sans", sans-serif;
    color: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    left: -10px;
    top: -12px; }
  .card .container-top {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .card .wrap-img {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    min-height: 175px; }
    .card .wrap-img img {
      width: 90%;
      height: auto; }
  .card .list-color {
    width: 20%;
    padding-left: 20px; }
    .card .list-color li {
      width: 25px;
      height: 25px;
      margin-bottom: 7px;
      border: 1px solid #333;
      list-style: none;
      cursor: pointer; }
  .card .prise {
    margin-top: 15px;
    font: 500 12px/1 "Work Sans", sans-serif;
    color: #EF86A5;
    margin-bottom: 5px; }
  .card .title {
    font: 800 16px/1 "Work Sans", sans-serif;
    color: #000;
    margin-top: 15px;
    margin-bottom: 5px; }
  .card .list-size {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 5px; }
    .card .list-size li {
      font: 500 12px/1 "Work Sans", sans-serif;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      margin: 0 0 0 5px;
      color: #333;
      display: inline-block;
      vertical-align: top;
      list-style: none;
      border: 1px solid transparent;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      cursor: pointer; }
      .card .list-size li:first-child {
        margin: 0; }
      .card .list-size li.active {
        border: 1px solid #333; }

.container-pop-up-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #333;
  padding: 0;
  -webkit-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  top: -webkit-calc(100% - 69px);
  top: calc(100% - 69px);
  position: absolute;
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  z-index: 10;
  height: 0;
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .container-pop-up-card p.more {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase; }
  .container-pop-up-card .card-btn {
    background: #FFEF2D;
    position: relative;
    height: 100%;
    max-width: 85px;
    width: 100%;
    -webkit-border-radius: 0 0 20px 0;
    border-radius: 0 0 20px 0; }
    .container-pop-up-card .card-btn:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 50%;
      height: 50%;
      background: url(assets/images/cart.svg) no-repeat center center; }
    .container-pop-up-card .card-btn span {
      background: #EF86A5;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      top: 12px;
      right: 19px;
      width: 15px;
      height: 15px;
      color: #fff;
      font-size: 10px;
      line-height: 15px;
      text-align: center; }

/* ----------------
ARCHIVE PRODUCT
---------------- */
.container-head-filter {
  padding: 50px 50px 40px 50px;
  background: #FFD6E2; }
  .container-head-filter .container-filter-category {
    margin-left: 60px;
    width: 100%;
    max-width: 250px; }
  .container-head-filter .head-filter {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .container-head-filter .head-filter .container-filter {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%; }
    .container-head-filter .head-filter .woocommerce-ordering {
      margin-top: 0;
      margin-bottom: 0; }
      .container-head-filter .head-filter .woocommerce-ordering select {
        font-family: "Work Sans", sans-serif;
        padding: 7px 20px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #FFD6E2;
        background: #fff;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .container-head-filter .head-filter .woocommerce-ordering select:hover, .container-head-filter .head-filter .woocommerce-ordering select:focus, .container-head-filter .head-filter .woocommerce-ordering select:active {
          border: 1px solid #333;
          outline: none; }
  .container-head-filter .container-search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .container-head-filter .search {
    font-family: "Work Sans", sans-serif;
    color: #333;
    padding: 7px 10px;
    border: 1px solid #333;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: transparent;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-size: 18px;     font-weight: 400;
    font-family: "Work Sans", sans-serif;
    display: block;
    width: 100%;
    height: 34px;
    line-height: 34px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 20px;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid #FFD6E2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    position: relative;
    font-size: 14px; }
    .container-head-filter .search::-webkit-input-placeholder {
      color: #333;
      font-family: "Work Sans", sans-serif; }
    .container-head-filter .search::-moz-placeholder {
      color: #333;
      font-family: "Work Sans", sans-serif; }
    .container-head-filter .search:-ms-input-placeholder {
      color: #333;
      font-family: "Work Sans", sans-serif; }
    .container-head-filter .search:-moz-placeholder {
      color: #333;
      font-family: "Work Sans", sans-serif; }
    .container-head-filter .search:hover, .container-head-filter .search:active {
      background: #fff; }

/* ----------------
STAFF
---------------- */
.staff_i {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.staff_i .row:first-child {
  width: 100%; }

/* ----------------
POST
---------------- */
.post_content {
  margin-top: 100px; }

/* ----------------
SHOP
---------------- */
.woocommerce-pagination .page-numbers {
  border: none !important; }
  .woocommerce-pagination .page-numbers li {
    margin: 0px 6px 0px 6px !important;
    width: 30px;
    height: 30px;
    border-right: none !important; }
    .woocommerce-pagination .page-numbers li span {
      width: 30px;
      height: 30px;
      -webkit-border-radius: 4px;
      border-radius: 4px; }
    .woocommerce-pagination .page-numbers li span.current {
      color: black !important;
      background: #ef86a4 !important; }
    .woocommerce-pagination .page-numbers li a {
      background-color: white !important;
      color: black !important;
      border: 1px solid black !important;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      width: 30px !important;
      height: 30px !important; }
    .woocommerce-pagination .page-numbers li a:hover {
      background: #f7b5cc !important; }


.woocommerce-cart table.cart td.actions .coupon .input-text {
  width: 120px;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order, #add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    border-radius: 4px;
  background-color: #ffef2c !important;
  color: #0a3847 !important;
  font-family: "Work Sans";
  font-size: 17px;
  font-weight: 900;
  letter-spacing: 0.28px;
  padding: 15px 30px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 20px;
  box-shadow: 0 2px 4px rgba(10, 55, 71, 0.5);
  text-decoration: none;
}
body.single-product.single #primary {
  margin-top: 70px;
}
.back-to-shop-btn {
    display: inline-block;
    float: right;
    padding: 2px 5px;
    border: 1px solid #0a3747;
    font-size: 10px;
    color: #0a3747 !important;
}
.back-to-shop-btn:hover {
    background: #0a3747 !important;
  color: #fff !important;
}
.woocommerce .cart .button,
.woocommerce .cart .coupon .button {
  border-radius: 4px;
  background-color: #ffef2c !important;
  color: #0a3847 !important;
  font-family: "Work Sans";
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 20px;
  box-shadow: 0 2px 4px rgba(10, 55, 71, 0.5);
  text-decoration: none;
}
.container-pop-up-card.container-pop-up-card2 {
  width: 70px;
  height: 50px;
  display: block;
  opacity: 1;
  border-radius: 0px;
}
.container-pop-up-card.container-pop-up-card2 .card-btn {
  border-radius: 0px;
  background: #FFEF2D !important;
}
.container-pop-up-card.container-pop-up-card2 .card-btn span {
    top: 8px;
    right: 15px;
    width: 15px;
    height: 14px;
    color: #fff;
    font-size: 8px;
    line-height: 15px;
    text-align: center;
}
@media (max-width: 768px) {
  .container-head-filter {
    padding: 30px 15px 30px 15px;
  }
  .container-head-filter .container-filter-category {
    margin-left: 0px;
  }
}
@media (max-width: 736px) {
  .container-head-filter .head-filter {
    display: block;
  }
  .container-head-filter .head-filter .container-filter {
    margin-bottom: 20px;
  }
  .container-head-filter .container-filter-category {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .container-head-filter .head-filter .container-filter {
    display: block;
  }
  .container-head-filter .head-filter .container-filter .woocommerce-orderin {
    margin-bottom: 20px;
  }
  .container-head-filter .head-filter .container-filter .woocommerce-orderin .select {
    max-width: 100% !important;
  }
  .woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    margin: 0px;
  }
}
.woocommerce form .form-row .woocommerce-form__input.woocommerce-form__input-checkbox.input-checkbox {
  position: relative;
  margin-left: 4px;
}
.woocommerce ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
  padding: 0;
}
.woocommerce ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details li {
  margin-bottom: 10px;
}