/*
Theme Name: Zelkys New
Theme URI: http://ahsanrehman.com
Author: Ahsan Rehman
Author URI: http://ahsanrehman.com/
Description: Zelkys Theme
Version: 1.0.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Text Domain: zel
*/

@import 'assets/css/style.css';

input:focus,
textarea:focus,
button:focus,
.game-point-component .package-payment-form-component button:focus,
.game-point-component .package-payment-form-component input:focus,
.game-point-component .package-payment-form-component textarea:focus {
	outline: none;
	border: none;
	box-shadow: none;
}


.show-s {
	display: none !important;
}

.nav>li>a:focus {
	background: #ef86a4;
	color: #0a3847;
}
.nav>li>a:hover {
	background: #ef86a4;
	color: #ffd6e2;
}
.button_sec h4 {
	font-size: 30px;
}
.button_sec.price {
	padding: 0;
}
.button_sec.price .price-sec {
	padding: 50px 0;
}
.page-template-page-who-we-are .button_sec.price .price-sec {
	padding: 30px 0;
}
.page-template-page-staff .button_sec.price .price-sec {
	padding: 10px 0 30px 0;
}
.section_heading h3 {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 34px;
	font-weight: 700;
	letter-spacing: 1.13px;
}
.big_text p {
	font-size: 18px;
	line-height: 26px;
}
.tabs.inner {
	background-color: #fff1f5;
	padding-bottom: 60px;
}
.tabs.inner.first {
	margin-bottom: 50px;
}
.page-template-page-int-students .tabs.inner.first {
	margin-bottom: 30px;
}
.page-template-page-packages .tabs.inner.first {
	margin-bottom: 20px;
	padding-bottom: 40px;
}
.page-template-page-packages .price-sec {
	padding-top: 20px;
}
.staff_sec h3 {
	color: #0a3847;
	font-family: "Industry";
	font-size: 30px;
	font-weight: 900;
	letter-spacing: 1px;
	margin: 5px 0 0 0;
}
.staff_sec h4 {
	color: #ef86a5;
	font-family: "Work Sans";
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.67px;
	margin-bottom: 0;
	text-transform: uppercase;
}
.staff_sec h5 {
	color: #0a3847;
	font-family: "Cosmopolitan Script";
	font-size: 30px;
	font-weight: 700;
	margin-top: 0;
	letter-spacing: 1px;
	text-transform: lowercase;
}
.staff_sec .staff_i div:not(.row) {
	margin-bottom: 25px;
}
.staff_sec img {
	margin: 0 auto;
}
.location_sec h3 {
	color: #0a3847;
	font-family: "Industry";
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 900;
}
.location_sec p {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.67px;
}
.location_sec strong {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.8px;
}
.location_sec img {
	margin-top: 20px;
}
.location_sec .dropdown_text {
    color: #ef86a5;
    font-family: "Work Sans";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.6px;
    outline: 0;
    margin-top: 20px;
    padding: 0;
}
.location_sec .dropdown-menu {
	position: relative !important;
	transform: none !important;
    border: 0;
    background: transparent;
    box-shadow: none;
    width: 100%;
    margin-bottom: 20px;
}
.timing_sec h3 {
	color: #0a3847;
	font-family: "Industry";
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 900;
	margin-top: 0;
}
.timing_sec h3 a {
	font-family: "Work Sans";
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #ef86a5;
	text-decoration: none !important;
}
.timing_sec p,
.timing_sec .email,
.timing_sec .email a,
.timing_sec .timings {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.67px;
}
.timing_sec img {
	margin-top: 5px;
}
.timing_sec .row {
	margin-bottom: 60px;
}
.timing_sec h3.name {
	position: relative;
}
.timing_sec h3.name:before {
	content: '';
    position: absolute;
    left: -32px;
    top: 7px;
    background: url('assets/images/timing-icon.png') no-repeat;
    width: 23px;
    height: 23px;
}
.timing_sec h2 {
	color: #ef86a5;
	font-family: "Work Sans";
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 1.2px;
}
.timing_sec h4 {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.8px;
}
.timing_sec button {
	color: #94a3a8;
	font-family: "Work Sans";
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.63px;
	border: 2px solid #94a3a8;
	margin: 0 10px;
	width: 160px;
}


.timing_sec button.active {
	color: #0a3847;
	border: 2px solid #0a3847;
}
.timing_sec .seasons {
	display: none;
}
.purchase-btn {
	text-decoration: none !important;
}
.page-template-page-staff .price-sec h4 {
	font-weight: 900;
}
.page-template-page-staff .purchase-btn {
	padding: 10px 40px;
}
.wp-pagenavi span.current {
    font-weight: bold !important;
    background: #0a3747 !important;
    color: #fff !important;
    font-size: 18px !important;
    padding: 6px 12px !important;
	display: inline-block;
}
body .wp-pagenavi a,
body .wp-pagenavi span {
    font-weight: bold !important;
    background: #fff !important;
    color: #0a3747 !important;
    font-size: 18px !important;
    padding: 6px 12px !important;
    border: 0 !important;
    margin: 0 6px;
} 
footer .footer-menu ul li,
footer .footer-menu ul {
	vertical-align: top;
}
footer .footer-menu ul li {
	padding-top: 5px;
	height: 20.6px;
}
footer .footer-menu ul li:hover,
footer .footer-menu ul li.current-menu-item {
	padding-top: 0;
	color: #fff;
}
footer .footer-menu ul li:hover a,
footer .footer-menu ul li.current-menu-item a {
	color: #fff;
}
.small_container > div {
	padding-left: 110px;
	padding-right: 110px;
}
.big_text h2 {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 29px;
	font-weight: 700;
	letter-spacing: 0.97px;
}
.big_text .underline_style {
	color: #ef86a5;
	font-family: "Work Sans";
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.8px;
	border-bottom: 4px dotted;
    padding-bottom: 10px;
    display: inline-block;
}
.big_text .learn_more_heading {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.8px;
	margin-top: 5px;
}
.big_text .learn_more_heading a {
	color: #0a3847;
}
.background_colored_heading {
    color: #ffffff;
    font-family: "Industry";
    font-size: 30px;
    font-weight: 900;
    background-color: #f59fb7;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 20px 15px 20px;
    line-height: 34px;
    margin-bottom: 10px;
    margin-top: 0;
}
.package_head h4 {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.8px;
}
.navbar {
	border-radius: 0 !important;
}
.home_gal_sec .bx-wrapper .bx-controls-direction a {
	margin-top: -25px;
}
.bottom_home_sec img {
	padding-top: 6px;
	transition: all 0.5s ease;
}
.bottom_home_sec .box:hover img {
	padding-top: 2px;
}
.what-we-do .box figure {
	overflow: hidden;
}
.home_gal_sec {
	background: url('assets/images/homeslider-bg.png');
}
.purchase_sec {
	background-color: #fff;
	background-position: center center;
	background-image: url('assets/images/homesection_stars.png');
}
.blog_sec {
	background-color: #fff1f5;
	padding: 40px 0 30px 0;
}
.blog_sec .blog_sec_sec {
	margin-bottom: 40px;
}
.blog_sec .blog_sec_sec .thumbnail_sec {
	padding: 0;
}
.blog_sec .blog_sec_sec .content_sec {
	background: #fff;
}
.blog_sec .blog_sec_sec .content_sec h2 {
	padding-right: 140px;
	color: #ef86a5;
	font-family: "Industry";
	font-size: 30px;
	letter-spacing: 1px;
	font-weight: 900;
}
.blog_sec .blog_sec_sec .content_sec h1,
.blog_sec .blog_sec_sec .content_sec h2,
.blog_sec .blog_sec_sec .content_sec h3,
.blog_sec .blog_sec_sec .content_sec h4,
.blog_sec .blog_sec_sec .content_sec h5,
.blog_sec .blog_sec_sec .content_sec h6 {
	font-family: "Industry";
}
.blog_sec .blog_sec_sec .content_sec,
.blog_sec .blog_sec_sec .content_sec p,
.blog_sec .blog_sec_sec .content_sec ul,
.blog_sec .blog_sec_sec .content_sec li {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
}
.blog_sec .blog_sec_sec .content_sec {
	position: relative;
}
.blog_sec .blog_sec_sec .content_sec .post_meta_sec {
	position: absolute;
	right: 15px;
	top: 15px;
}
.blog_sec .container {
    max-width: 1230px;
    width: 100%;
}
.blog_sec .row {
    display: table;
}
.blog_sec [class*="col-md"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}
.blog_sec .row .show_more {
    background: url(assets/images/show-more.png);
    background-repeat: no-repeat;
    background-position: 0 10px;
}
.blog_sec .row .wpsm-hide,
.blog_sec .row .wpsm-show {
    text-transform: uppercase;
    display: inline-block;
    color: #94a3a8 !important;
    font-family: "Work Sans" !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    text-decoration: none !important;
    background: #fff !important;
}
.blog_sec .row .wpsm-show.wpsm-content-hide,
.blog_sec .row .wpsm-content {
    background: #fff !important;
}
.blog_sec .row .wpsm-show.wpsm-content-hide {
	display: none !important;
}
body .blog_sec .row .wpsm-hide {
    background: url(assets/images/hide-text.png);
    background-repeat: no-repeat;
    background-position: 0 10px;
}
.card {
	background: #fff;
}
header .navbar ul li.dropdown:hover .dropdown-icon {
	background-image: url(assets/images/dropdown-hover.png);
}
.game.desktop .tab-content {
/* 	margin-top: -50px; */
}
.game.desktop .tab-content>.active {
	display: flex;
	align-items: center;
}
.price-box p {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
}
.price-box h3 span {
	position: relative;
}
.price-box:not(.bigbox) h3 span {
	position: absolute;
	margin-left: 0;
}
.price-content.one .pull-right img {
	margin-left: 60px;
}
.price-content.two img,
.price-content.three img {
	margin-left: 60px;
}
.price-content.one img,
.price-content.two img,
.price-content.three img {
	margin-top: 15px;
}
.sub-header {
	min-height: 145px;
}
.prizes_sec img {
	display: inline-block;
}
.prizes_sec .single_image_p {
	padding-top: 20px;
	padding-bottom: 20px;
}
.int_testi_sec.small_container > div {
	background: #fff;
	padding-top: 55px;
	padding-bottom: 35px;
}
.int_testi_sec {
	background-color: #f59fb7;
	background-image: url('assets/images/fill-1-copy-4.svg');
	background-repeat: no-repeat;
	background-position: center -30px;
	padding: 90px 0 70px 0;
	position: relative;
}
.int_testi_sec h2 {
	color: #0a3847;
	font-family: "Industry";
	font-weight: 900;
	font-size: 26px;
	margin: 0;
}
.int_testi_sec h3 {
	color: #0a3847;
	font-family: "Cosmopolitan Script";
	font-size: 36px;
	font-weight: 700;
	margin: 5px 0 15px 0;
}
.int_testi_sec p {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
}
.int_testi_sec .bx-wrapper .bx-prev {
	background: url(assets/images/testi-left.svg)
}
.int_testi_sec .bx-wrapper .bx-next {
	background: url(assets/images/testi-right.svg)
}
.int_testi_sec .bx-wrapper .bx-controls-direction a {
	background-repeat: no-repeat;
	height: 36px;
	width: 36px;
	top: auto;
	bottom: 10px;
	left: 52%;
}
.price-box p {
	font-weight: 600;
}
.int_testi_sec .bx-wrapper {
	margin: 0 !important;
}
.int_testi_sec .bx-wrapper .bx-next {
	left: 57% !important;
}
.int_testi_sec .testiIcons img {
    display: inline-block;
    padding-right: 12px;
}
.blog_sec_sec .imagesSlider {
	height: 0;
	overflow: hidden;
}
.blog_sec_sec .imagesSlider .bx-wrapper {
	margin: 10px auto 0 auto;
}
.blog_sec_sec .thumbnail_sec img {
	margin: 0 auto;
}
.blog_sec_sec .bx-wrapper .bx-controls-direction a {
	background-repeat: no-repeat !important;
	height: 36px;
	width: 36px;
	top: 34px;
}
.blog_sec_sec .bx-wrapper .bx-controls-direction .bx-prev {
	background: url(assets/images/testi-left.svg);
	left: -50px;
}
.blog_sec_sec .bx-wrapper .bx-controls-direction .bx-next {
	background: url(assets/images/testi-right.svg);
	right: -50px;
}
.subscribe-box .form-group {
	width: 33.3%;
	float: left;
	margin-bottom: 0;
	padding: 0 5px;
}
.subscribe-box .form-group.no-check {
	margin-top: 26px;
}
.subscribe-box .form-group.no-check .btn.btn-default.btn-block {
    height: 36px !important;
    padding-top: 4px !important;
	margin: 0 auto!important;
}
body.page-id-2 .game-point-component .payment-form-container form .package-payment-form-component .btn {
	/*margin-top: -4px !important;*/
}
body.page-id-15 .game-point-component .has-errors .form-group:not(.is-invalid):not(.confirmation-row):not(.no-check):not(.col-12):after {
	display: none;
}
header.header-mobile,
header.header-desktop {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
}
.sub-header {
	margin-top: 101px;
}
.show-tablet {
	display: none;
}


@media (max-width: 1200px) {
	.sub-header {
		margin-top: 129px;
	}
}

@media (min-width: 680px) and (max-width: 1024px) {	
	.page-template-page-packages .price-box:not(.bigbox) {
		width: 240px;
		margin: 0;
		padding-left: 10px;
		padding-right: 10px;
		background-size: 260px 160px;
	}
}
@media (max-width: 991px) {	
	.blog_sec .blog_sec_sec .content_sec h2 {
		padding-right: 0 !important;
	}
	.hide-tablet {
		display: none !important;
	}
	.show-tablet {
		display: block !important;
	}
	.nav-pills>li+li {
		margin-left: 30px;
	}
	.sub-header {
		margin-top: 80px;
	}
	html[lang="en-US"] {
		margin-top: 0 !important;
	}
	html #wpadminbar {
		display: none !important;
	}
	.game ul {
		padding-left: 0;
		/*margin-bottom: 50px;*/
	}
	.game.desktop .tab-content {
		margin-top: 0;
	}
}
body .game-point-component .password-reset-component,
body .game-point-component .reload-card-init-form,
/*.game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body form,*/
/*body .game-point-component .check-balance-component,*/
body .overwrite-component {
	max-width: 400px;
	margin: 0 auto;
	background-color: #0a3747;
	background-image: url('assets/images/form-bg.png');
	background-position: center;
	padding: 35px 43px 40px 43px;
	margin-bottom: 50px;
}
body .game-point-component .profile-component,
body .game-point-component .payment-form-container,
body .game-point-component .register-shadow-component,
body .game-point-component .register-component {
	max-width: 790px;
	margin: 0 auto;
	background-color: #0a3747;
	background-image: url('assets/images/form-bg.png');
	background-position: center;
	padding: 35px 43px 40px 43px;
}
body .overwrite-component .need-an-account .dot-spacer {
	width: 100%;
	height: 7px;
	background-image: url('assets/images/yellow-row.png');
	background-size: contain;
	background-repeat: no-repeat;
}
body .overwrite-component .need-an-account .sign-up-text {
	color: #f5e300;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 700;
	letter-spacing: -0.28px;
	position: relative;
	padding-right: 20px;
	text-decoration: none !important;
}
body .overwrite-component .need-an-account .sign-up-text:after {
    position: absolute;
    right: 0;
    top: 4px;
    background: url(assets/images/triangle-2.svg) no-repeat;
    width: 10px;
    height: 10px;
    content: '';
}
body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-buttons .btn {
	position: relative;
	/*padding: 0 60px !important;*/
	/*margin: 10px !important;*/
	/*padding-right: 50px !important;*/
	display: inline-block !important;
}
body .overwrite-component .login-component .btn:after {
    position: absolute;
    right: 25px;
    top: 18px;
    background: url(assets/images/triangle-1.svg) no-repeat;
    width: 15px;
    height: 15px;
    content: '';
}
body .game-point-component .btn {
	border-radius: 4px !important;
    background-color: #ffef2c !important;
    color: #0a3847 !important;
    font-family: "Work Sans" !important;
    font-size: 17px !important;
    font-weight: 900 !important;
    letter-spacing: 0.28px !important;
    padding: 8px 30px !important;
    text-transform: uppercase !important;
    box-shadow: 0 2px 4px rgba(10, 55, 71, 0.5) !important;
    width: auto !important;
    max-width: 100% !important;
    margin: 0 auto !important;
    display: block;
    outline: 0 !important;
    border: 0 !important;
}
body .game-point-component .cart-row .btn {
    padding: 8px 20px !important;
	margin-right: 0 !important;
	margin-left: auto !important;
}
body .game-point-component .cart-row .btn-form-group {
	margin-top: 23px;
}
body .game-point-component .cart-row {
	margin-bottom: 15px;
}
body .game-point-component .cart-row .quantity-form-group label {
	white-space: nowrap;
}

body .game-point-component .register-component .btn,
body .game-point-component .payment-form .btn {
	max-width: 100% !important;
	width: 315px !important;
	margin: 0 auto !important;
}
body .game-point-component .added-package .btn {
	background: url(assets/images/remove-btn.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    font-size: 0 !important;
    margin: 0 !important;
    line-height: 11px !important;
    float: right;
}
@media only screen and (min-width: 990px) {
	.body .game-point-component .package-payment-form-component .btn {
		margin-right: 0 !important
	}
}

body .game-point-component .payment-form-container form .package-payment-form-component .btn {
	margin-top: 20px !important;
}
body .game-point-component .payment-form-container form .package-payment-form-component .added-package .btn {
	margin-top: 0 !important;
}
body .game-point-component form label {
	color: #f5e300;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 700;
	letter-spacing: -0.28px;
	text-transform: uppercase;
}
body .game-point-component form .form-link.info {
	color: #bfc7cc !important;
	font-family: "Work Sans";
	font-size: 9px !important;
	text-decoration: none !important;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: -0.18px;
}
body .game-point-component .dropdown,
body .game-point-component .vdp-datepicker input.form-control,
body .game-point-component form input[type="email"],
body .game-point-component form input[type="text"],
body .game-point-component form input[type="number"],
body .game-point-component form input[type="password"],
body .game-point-component form input[type="tel"] {
	border: 1px solid #0a3747;
	background-color: #f7f7f7;
	border-radius: 0;
	font-family: "Work Sans";
	font-size: 13px;
	font-weight: 400;
	box-shadow: none !important;
    padding: 10px 4px;
    height: 38px;
    outline: 0 !important;
    color: #0a3747;
}
body .game-point-component .v-select .dropdown-toggle .clear,
body .game-point-component .v-select.unsearchable input[type=search] {
}
body .game-point-component .v-select .dropdown-toggle button.clear span {
	display: none !important;
}
body .v-select .dropdown-toggle {
	border: 0 !important;
}
body .game-point-component .v-select .selected-tag {
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 14px;
}
body .game-point-component a {
	color: #f5e300 !important;
	font-family: "Work Sans";
	font-weight: 600 !important;
	letter-spacing: -0.24px;
}
body .game-point-component .v-select .dropdown-menu {
	/*position: relative;*/
	z-index: 9999;
	max-height: 200px!important;
	overflow: auto;
	min-width: 100%;
	border-radius: 0;
	border: 0;
	padding: 0;
}
body .game-point-component .v-select .dropdown-menu a {
	color: #333 !important;
	padding: 5px 7px;
	font-size: 10px;
}
body .game-point-component .v-select .dropdown-menu>.highlight>a {
	background: #ccc;
}
body .overwrite-component form a {
	font-size: 12px;
}
body .overwrite-component .title-component,
body .overwrite-component .need-an-account .title {
	color: #ffffff;
	font-family: "Industry";
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 34px;
	padding-top: 15px;
}
body .overwrite-component .title-component {
	padding-top: 0;
	padding-bottom: 20px;
}
body .overwrite-component .need-an-account {
	padding-top: 28px;
}
body .overwrite-component .need-an-account .link {
	padding-top: 20px;
}
body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-close-button {
	background-image: url('assets/images/popup-close.svg');
	border: 0 !important;
	outline: 0 !important;
	height: 15px;
	background-repeat: no-repeat;
	width: 15px;
}
body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body:after {
	content: '';
	width: 100%;
	bottom: -20px;
	left: 0;
	height: 46px;
	position: absolute;
	background-image: url('assets/images/popup-bottom.svg');
}
body .game-point-component form .form-group .form-check label,
body .game-point-component form .form-group .form-check-reverse label,
body .game-point-component form .form-group .form-check label {
	color: #ffffff;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 700;
	text-transform: capitalize;
	letter-spacing: -0.28px;
}
body .game-point-component .profile-component .form-group > label,
body .game-point-component .register-shadow-component .form-group > label,
body .game-point-component .register-component .form-group > label {
	display: block;
}
body .game-point-component .profile-component .form-group .form-control-plaintext {
	text-align: center;
	color: #f5e300;
	font-family: "Work Sans";
	font-size: 16px;
	font-weight: 700;
	letter-spacing: -0.32px;
}
body .page-playcard-reload .game-point-component .card-number {
	color: #f3aac5;
	font-family: "Work Sans";
	font-size: 18px;
	font-weight: 700;
	letter-spacing: -0.36px;
	margin: 0 auto 20px;
}
body .game-point-component .form-group .form-check-reverse,
body .game-point-component .form-group .form-check {
	display: inline-block;
}
body .game-point-component .registration-opt-in-hint,
body .game-point-component .text-muted {
    color: #6c757d!important;
    color: #edf0f0 !important;
    font-family: "Work Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
}
body .game-point-component .form-group {
	margin-bottom: 10px;
}
body .game-point-component .payment-form .form-group .form-check,
body .game-point-component .form-group .form-check-reverse.pl-2,
body .game-point-component .form-group .form-check.pr-4 {
	padding-left: 0 !important;
}
body .game-point-component .form-group .form-check-reverse.pl-2 {
	padding-right: 15px;
}
body .game-point-component .form-group .form-check input[type="checkbox"],
body .game-point-component .form-group .form-check-reverse input[type="checkbox"],
body .game-point-component .form-group .form-check input[type="radio"] {
	opacity: 0;
	display: none;
}
body .game-point-component .form-group .form-check input[type="checkbox"] + label,
body .game-point-component .form-group .form-check-reverse input[type="checkbox"] + label,
body .game-point-component .form-group .form-check input[type="radio"] + label {
	background-image: url(assets/images/unchecked.svg);
	background-repeat: no-repeat;
	padding-left: 26px;
	background-position: 1px;
}
body .game-point-component .form-group .form-check input[type="checkbox"]:checked + label,
body .game-point-component .form-group .form-check-reverse input[type="checkbox"]:checked + label,
body .game-point-component .form-group .form-check input[type="radio"]:checked + label {
	background-image: url(assets/images/checked.svg);
}

body .game-point-component .invalid-feedback {
	font-size: 90%;
	color: #fc3545;
}

body .game-point-component .v-modal-body .invalid-feedback,
body .game-point-component .v-modal-body .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    font-size: 14px;
    letter-spacing: initial;
    font-weight: normal;
    line-height: initial;
}

body .game-point-component .has-errors .form-group.is-invalid {
	position: relative;
}
body .game-point-component .has-errors .form-group:not(.is-invalid) {
	position: relative;
}
body .game-point-component .has-errors .form-group:not(.is-invalid):not(.confirmation-row):not(.no-check):not(.col-12):after,
body .game-point-component .has-errors .form-group.is-invalid:after {
	content: '';
	position: absolute;
    right: 9px;
    top: 38px;
	background-color: #f7f7f7;
    background-image: url(assets/images/invalid.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 14px;
	height: 14px;
	padding: 2px;
}
body .game-point-component .register-shadow-component .has-errors .form-group:after,
body .game-point-component .register-component .has-errors .form-group:after {
    right: 28px !important;
}
body .game-point-component .register-shadow-component .has-errors .form-group.is-invalid.form-group-check:after,
body .game-point-component .register-component .has-errors .form-group.is-invalid.form-group-check:after {
    top: 28px;
}
body .game-point-component .has-errors .form-group:not(.is-invalid):not(.confirmation-row):not(.no-check):not(.col-12):after {
    width: 15px !important;
    background-image: url(assets/images/valid.svg) !important;
}
body .game-point-component .has-errors .cart-row .form-group:after {
	display: none !important;
}
body .game-point-component .form-group.is-invalid input {
	background-color: #fff1f5;
	border-color: #0a3747 !important;
}
body .game-point-component .form-group.is-invalid .dropdown input {
	background:none;
}
body .game-point-component .registration-opt-in-hint i {
	background-image: url(assets/images/checked.svg);
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	top: 2px;
	left: 2px;
}
body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-title {
	color: #0a3847;
    font-family: "Work Sans";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.67px;
    line-height: 26px;
}
body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-message {
    line-height: 28px;
    padding-bottom: 40px;
    color: #0a3847;
    font-family: "Work Sans";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.67px;
    padding: 0 30px 20px 30px;
}
body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-title .subtitle,
body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-message label {
	margin-bottom: 0;
	color: #0a3847;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-transform: inherit;
}
body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-message input[type="email"],
body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-message input[type="text"],
body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-message input[type="password"],
body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-message input[type="tel"] {
	background: #fff;
}
body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-message .form-group {
	margin-bottom: 0;
}
body .game-point-component .login-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-title {
	padding-bottom: 0;
	font-size: 24px;
}
body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-title .subtitle,
body .game-point-component .login-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-message label {
	padding-top: 5px;
	padding-bottom: 20px;
}
body .game-point-component .payment-form-container h3.section-title {
	color: #ffffff;
	font-family: "Industry";
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1px;
	padding: 0 0 10px 0;
}
body .game-point-component .login-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-message {
	padding: 0 10px 20px 10px;
}
body .game-point-component .login-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body {
	padding: 40px 46px 60px 46px;
}


body .game-point-component .payment-form-container h4.section-title {
	color: #ffffff;
	font-family: "Work Sans";
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.36px;
	margin-bottom: 12px;
}
body .game-point-component .payment-form-container .added-package {
    color: #999;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 5px;
    line-height: 28px;
    color: #bfc7cc;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.32px;
}
body .game-point-component .payment-form-container .cart-row {
	padding-bottom: 5px;
}
body .game-point-component .payment-form-container hr.under-total,
body .game-point-component .payment-form-container hr.under-cart {
	margin-top: 20px;
	background: url(assets/images/payment-hr.svg);
	height: 16px;
    border: 0;
    background-position: center;
}
body .game-point-component .payment-form-container hr.under-total {
	margin-top: 0;
	margin-bottom: 26px;
}
body .game-point-component .payment-form-container .total-row {
	color: #ffef2c;
	font-family: "Work Sans";
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.36px;
}
body .game-point-component .payment-form-container .tax-row {
	color: #bfc7cc;
	text-transform: uppercase;
	font-family: "Work Sans";
	font-size: 18px;
	font-weight: 700;
	letter-spacing: -0.36px;
}
body .game-point-component .playcards-component {
	margin-top: 20px;
}
body .game-point-component .playcards-component .no-playcards .no-playcard,
body .game-point-component .playcards-component .playcards .playcard-image {
	background-image: url(assets/images/pink-card.png);
	width: 301px;
    height: 190px;
    margin: 0 0 15px;
}
body .game-point-component .playcards-component .playcards .playcard {
    padding-bottom: 50px;
    margin: 0 auto;
    width: 301px;
	color: #94a3a8;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.47px;
}
body .game-point-component .playcards-component .playcards .row {
	width: 100%;
	margin: 0;
	margin-bottom: 22px;
}
body .game-point-component .playcards-component .playcards {
	padding-bottom: 0;
}
body .game-point-component .playcards-component .no-playcards {
	width: 301px;
	margin: 0;
}
body .game-point-component .playcards-component .no-playcards .no-playcard {
	background-image: url(assets/images/no-swipe-card.png);
}
body .game-point-component .playcards-component .playcards .py-3 {
	/*display: none !important;*/
}
body .game-point-component .playcards-component .playcards .playcard-number {
	color: #0a3847;
	font-family: "Industry";
	font-size: 18px;
	letter-spacing: 0.6px;
	font-weight: 900;
	float: left;
	width: 50%;
}
body .game-point-component .playcards-component .playcards .playcard-number-value {
	color: #0a3847;
	font-family: "Industry";
	font-size: 18px;
	letter-spacing: 0.6px;
	font-weight: 900;
	margin-bottom: 8px;
	float: right;
	text-align: right;
	width: 50%;
}
body .game-point-component .playcards-component .playcards .playcard-property-title {
	padding: 0;
}
body .game-point-component .playcards-component .playcards .playcard-property-value {
	color: #94a3a8;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.47px;
	text-align: right;
	padding: 0;
}
body .game-point-component .no-playcard-balance,
body .game-point-component .no-playcard-balance-value {
    color: #bfc7cc;
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.47px;
    width: 50%;
    float: left;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 25px;
}
body .game-point-component .no-playcards .btn {
	width: 100% !important;
	clear: both;
}
body .game-point-component .no-playcard-balance-value {
	text-align: right;
}
body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container {
	min-height: 368px;
	width: 520px;
	max-width: 100%;
}
body .game-point-component .card-number-help {
	background-image: url(assets/images/card.png);
	background-size: contain;
    width: 360px;
}
body .game-point-component .card-cvv-help {
	background-size: contain;
    width: 360px;
	background-image: url(assets/images/card2.png);
}
body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-buttons .btn {
	height: auto;
	line-height: 32px;
	width: auto !important;
	max-width: auto !important;
}
body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body {
	padding: 40px 55px 60px 55px;
}
body .game-point-component .what-is-number-modal .v-modal-wrapper .v-modal-container .v-modal-body,
body .game-point-component .what-is-cvv-modal .v-modal-wrapper .v-modal-container .v-modal-body,
/*body .game-point-component .buy-curds-success-modal .v-modal-wrapper .v-modal-container .v-modal-body,*/
body .game-point-component .resend-success-modal .v-modal-wrapper .v-modal-container .v-modal-body {
	padding: 120px 55px;
}
body .game-point-component .buy-curds-success-modal + .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body {
	padding: 125px 55px;
}
body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-title {
	padding-bottom: 20px;
}
body .game-point-component .check-balance-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-message {
	padding-right: 0 !important;
	padding-left: 0 !important;
}
body .game-point-component .v-modal-mask .v-modal-body .form-group:after {
	display: none;
}
section.banner img {
	opacity: 0;
	display: none;
}
.fun-img {
	background-image: url(assets/images/BG-Board.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
section.banner {
	height: 430px;
	background-image: url(assets/images/screen-shot-2018-03-06-at-15-18-44.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
body.page-id-394 .game-point-component .email-verification-component {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 80px 0;
    font-family: "Industry";
}
body .playcard-archive-modal .btn.btn-primary {
	margin-left: 20px !important;
}
body .game-point-component .playcard-archive-modal.v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-buttons .btn{
	line-height: 34px;
}
.fun-with-family {
	border-top: 27px solid #ef86a4;
}

.navbar-nav::after {
	content: '';
	position: absolute;
	width: 40%;
	background: #0a3747;
	height: 100%;
	right: 0;
	top: 0;
}

#menu-item-75 {
	position: relative;
}
#menu-item-75 ul {
	background: #0a3747;
	padding: 5px 10px;
    width: 220px;
    right: -50px;
    border-radius: 0;
}
#menu-item-75 ul li {
	margin-left: 0 !important;
	width: 100%;
	display: block;
	white-space: normal;
}
#menu-item-75 ul li a {
	font-size: 11px;
	white-space: normal;
}
#menu-item-75 ul li table tr td:first-child {
	text-transform: uppercase;
}
#menu-item-75 ul li table td {
	vertical-align: top;
}
#menu-item-75 ul li table tr td:last-child {
	padding-left: 15px;
	padding-right: 20px;
}
.locations ul li a {
	text-decoration: none !important;
}
.locations ul li a.active {
	color: #ef86a5;
	position: relative;
}
.locations ul li a.active:before {
	content: '';
	position: absolute;
	top: 9px;
	left: -4px;
	background: url(assets/images/pin.png);
	width: 11px;
	height: 13px;
	background-repeat: no-repeat;
}
.mobileBlog {
	display: none;
}
.text_sec img {
	display: none !important;
}
.intbtn .purchase-button {
	position: relative;
}
.intbtn .purchase-button:after {
	position: absolute;
	left: -120px;
	top: 10px;
	content: '';
	width: 110px;
	height: 37px;
	background: url(assets/images/arrow-left.png);
}
body .game-point-component .playcards-component .playcards .playcard a.form-link.text-muted {
	color: #94a3a8 !important;
    font-family: "Work Sans";
    font-size: 12px;
    font-weight: 700 !important;
    letter-spacing: 0.47px;
}
body .game-point-component .playcards-component .playcards .playcard-primary {
	color: red !important;
    font-family: "Work Sans";
    font-weight: 600 !important;
    letter-spacing: -0.24px;
}
.mobile-nav #myNavbar li ul.dropdown-menu.show {
	display: none !important;
}
/*.mobile-nav #myNavbar li.show ul,
.mobile-nav #myNavbar li.open ul,
.mobile-nav #myNavbar li ul {
	display: none !important;
}*/
.mobile-nav #myNavbar li.show ul.dropdown-menu.show {
	display: block !important;
}
.mobile-nav .navbar-nav li.show .dropdown-menu {
	position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
	padding-bottom: 20px;
    transform: none !important;
    position: relative !important;
}
body .game-point-component .v-modal-mask {
	z-index: 99999;
}
.my-swipe-cards .add-playcard-button-component > a {
    border-radius: 4px !important;
    background-color: #ffef2c !important;
    color: #0a3847 !important;
    font-family: "Work Sans" !important;
    font-size: 17px !important;
    font-weight: 900 !important;
    letter-spacing: 0.28px !important;
    padding: 8px 30px !important;
    text-transform: uppercase !important;
    box-shadow: 0 2px 4px rgba(10, 55, 71, 0.5) !important;
    width: auto !important;
    max-width: 100% !important;
    margin: 0 auto !important;
    display: block !important;
    outline: 0 !important;
    border: 0 !important;
    text-decoration: none !important;
    width: 230px !important;
}
.home_gal_sec .bx-wrapper {
	margin-bottom: 30px;
}
.what-we-do.bottom_home_sec {
	padding: 40px 0;
}
.my-swipe-cards .extra-playcard h2,
.my-swipe-cards .no-extra-playcard h2 {
	color: #ffffff;
	font-family: "Work Sans";
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.8px;
}
.my-swipe-cards .extra-playcard h3,
.my-swipe-cards .no-extra-playcard h3 {
	color: #ffef2c;
	font-family: "Work Sans";
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.53px;
	text-transform: uppercase;
	margin: 30px 0;
}
.my-swipe-cards .extra-playcard,
.my-swipe-cards .no-extra-playcard {
	min-height: 329px;
	max-width: 320px;
    margin: 0 auto;
    background-color: #0a3747;
    background-image: url(assets/images/form-bg.png);
    background-position: center;
    padding: 65px 43px 40px 43px;
    text-align: center;
}
.my-swipe-cards .extra-playcard {
    padding: 55px 20px 40px 20px;
}
body .my-swipe-cards .game-point-component .playcards-component .no-playcards {
    float: left;
    margin-right: 40px;
}
body .my-swipe-cards .game-point-component .playcards-component .no-playcards .extra-playcard,
body .my-swipe-cards .game-point-component .playcards-component .playcards .no-extra-playcard {
	display: none !important;
	text-align: center;
}
body .my-swipe-cards .game-point-component .playcards-component .playcards .extra-playcard > p > .btn.btn-default
body .my-swipe-cards .game-point-component .playcards-component .playcards .extra-playcard > .btn.btn-default {
	display: inline-block !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	text-align: center !important;
	margin-top: 8px !important;
}
body .my-swipe-cards .game-point-component .playcards-component .playcards .extra-playcard .add-playcard-button-component > a {
	color: #ffef2c !important;
	font-family: "Work Sans" !important;
	font-size: 20px !important;
	font-weight: 700 !important;
	text-decoration: underline !important;
	letter-spacing: 0.67px !important;
	background: transparent !important;
	padding: 0 !important
}
body .game-point-component .playcards-component .playcards .playcard > p,
body .my-swipe-cards .game-point-component .playcards-component .no-playcards > p {
	display: none;
}
body.page-id-62 .game-point-component .btn:after {
	display: none !important;
}
body.page-id-64 .game-point-component .form-control-plaintext a {
	font-family: "Arial" !important;
}
#myNavbar li>a:focus,
#myNavbar li.active>a:focus{
 background: transparent !important;
}
.map-marker.show768 {
	display: none !important;
}
.locationButton iframe {
	width: 100%;
}
.hideDesktopSec {
	display: none;
}
.page-template-page-packages .price .heading {
	padding: 20px 0;
}
.page-template-page-packages .button_sec.price .price-sec {
	padding: 20px 0;
}
.page-template-page-prizes .prizes_sec .single_image_p {
	padding-top: 0;
	padding-bottom: 0;
	min-height: 360px;
}
.page-template-page-prizes .inner.small_container {
	margin: 0 !important;
}

body.page-id-64 .game-point-component .form-control-plaintext a::after {
	content: "\f023";
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 35px;
	margin-left: 15px;
	border-radius: 50%;
	background-color: #e6e300;
	font-family: FontAwesome;
	font-size: 23px;
	color: #0c2b35;
}

header .navbar-right .dropdown-menu {
	left: 0;
	right: auto;
}

@media (max-width: 1100px) {
	.hide-s {
		display: none !important;
	}

	.show-s {
		display: block !important;
	}
}

@media (max-width: 1024px) {
	.banner {
		height: inherit !important;
	}
	.map-marker {
		display: none !important;
	}
	.blog_sec_sec .bx-wrapper .bx-controls-direction .bx-prev {
		left: -20px;
		width: 25px;
		height: 25px;
		background-size: 25px;
		background-color: rgba(255,255,255,0.7);
	}
	.blog_sec_sec .bx-wrapper .bx-controls-direction .bx-next {
		right: -20px;
		width: 25px;
		height: 25px;
		background-size: 25px;
		background-color: rgba(255,255,255,0.7);
	}
	.page-template-page-int-students .sub-header .container {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}
@media (min-width: 991px) {
	header .dropdown-menu {
/* 		width: 100%; */
		background: #ffd6e2;
		opacity: 0;
		transition: all 0.5s ease;
/* 		padding-left: 50%; */
	}
	.nav>li {
/* 		position: inherit; */
	}
	header .dropdown-menu li {
/* 	    display: inline-block; */
	}
	header .dropdown-menu li:first-child {
/* 		margin-left: -370px; */
	}
	header .dropdown-menu li a {
		background: transparent;
		padding: 10px;
	    text-transform: capitalize !important;
	}
	.navbar-nav>li>.dropdown-menu {
		/*text-align: center;*/
	}
	header .dropdown-menu>.active>a, header .dropdown-menu>.active>a:focus, header .dropdown-menu>.active>a:hover {
		background: #ef86a4;
	}
	.navbar-nav>li>.dropdown-menu {
		border: 0 !important;
	}
	.nav-pills>li {
		position: relative;
	}
	header .nav>li .dropdown-menu a {
		background: transparent !important;
		color: #262626 !important;
	}
	header .dropdown-menu>li>a:focus, header .dropdown-menu>li>a:hover {
		background: transparent;
	}
	header .nav>li:hover > a {
		color: #ffd6e2;
		background: #ef86a4;
	}
	header .nav>li:hover .dropdown-menu {
		display: block;
		opacity: 1;
	}
	.sideArrow {
		background: url(assets/images/big-arrow.png);
		background-repeat: no-repeat;
		background-position: 0 -22px;
	}
	.sideArrow .purchase-button:after {
		display: none;
	}
}

@media (max-width: 991px) {
	#menu-item-75 ul {
		display: none !important;
	}
	.row.seasons .col-md-4.text-right {
		text-align: left;
		/*padding-left: 30px;*/
	}
	.blog_sec .blog_sec_sec .thumbnail_sec {
		width: 50%;
	}
	.blog_sec .blog_sec_sec .content_sec .post_meta_sec {
	    left: auto;
	    position: relative;
	    width: 100%;
	    margin-bottom: 20px;
	    float: right;
	}
	.small_container > div {
		padding-left: 15px;
		padding-right: 15px;
	}
	.location_sec img {
		margin: 20px auto 0 auto;
	}
	.mobile-nav .navbar-nav .open .dropdown-menu {
		transform: none !important;
		position: relative !important;
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.mobile-nav .nav>li .dropdown-menu li a {
		padding-left: 0;
		padding-right: 0;
	}
	.page-template-page-who-we-are .big_text,
	.page-template-page-who-we-are .big_text h2 {
		text-align: left !important;
	}
	.page-template-page-who-we-are .big_text br {
		display: none;
	}
	.images2 img {
		float: none;
	}

	body .game-point-component .payment-form-container .added-package {
		display: -webkit-box;
		display: -ms-flexbox;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		border-radius: 15px;
		background-color: rgba(29, 87, 107, 0.8);
		padding: 10px;
		margin: 0 0 15px;
	}
	body .game-point-component .payment-form-container .added-package::before {
		display: none;
	}
	body .game-point-component .payment-form-container .added-package::after {
		display: none;
	}
	body .game-point-component .payment-form-container .added-package > div{
		width: auto;
	}
	body .game-point-component .package-payment-form-component .btn {
		margin-bottom: 0!important;
		box-shadow: none!important;
	}
}

@media (min-width: 1025px) {
	.map .tab-content .tab-pane img {
		display: none;
	}
	.map .tab-content .tab-pane {
		background-image: url(assets/images/map-new.png);
		height: 500px;
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: contain;
		background-size: contain;
	}
	.map-marker {
		top: 132px;
		display: none;
	}
}

@media (max-width: 813px) {
	.makeCenterTab {
		margin: 20px auto;
	}
}

@media (max-width: 768px) {
	.blog_sec_sec .thumbnail_sec img {
		margin: 0;
	}
	body, html {
		height: auto;
	}
	.fullonMobile {
		width: 100% !important;
	}
	.timing_sec button {
/* 		width: auto; */
		text-align: center;
	}
	.page-template-page-history .row.small_container img {
		margin: 20px 0 20px 0 !important;
	}
	.row.seasons .col-md-4.text-right {
		text-align: center;
	}
	.desktopBlog {
		display: none !important;
	}
	.mobileBlog {
		display: block;
	}
	.mobileBlog.time {
		display: inline-block;
	}
	.blog_sec [class*="col-"],
	.blog_sec .row {
		display: block;
	}
	.blog_sec .blog_sec_sec .content_sec,
	.blog_sec .blog_sec_sec .thumbnail_sec {
		width: 100%;
	}
	.blog_sec .content_sec article {
		padding-top: 30px;
	}
	.header__title {
		min-height: 0 !important;
	}
	.post_meta_sec .share {
		padding-left: 15px !important;
		text-align: left !important;
	}
	.blog_sec .blog_sec_sec {
		margin-bottom: 0;
	}
	footer .footer-menu ul li {
		padding: 15px 5px!important;
	}
	.page-template-page-who-we-are .price.text-center.button_sec,
	.page-template-page-staff .price.text-center.button_sec {
		display: block;
		padding-bottom: 0;
	}
	section.banner {
		background-image: url(assets/images/bg-768.png);
		height: 460px;
	}
	.background_colored_heading {
/* 		display: none; */
	}
	.hideMeMobile {
		display: none !important;
	}
	body.blog .blog_sec {
		background: #fff;
		padding-top: 20px;
	}
	.page-template-page-int-students .price {
		padding-bottom: 60px;
	}
	.int_testi_sec + section.price.text-center.button_sec {
		padding-bottom: 0;
	}
	.int_testi_sec {
		padding-bottom: 50px;
	}
	.int_testi_sec.small_container > div {
		padding-bottom: 35px;
	}
	.page-template-page-int-students .price .intbtn {
		padding-bottom: 0;
	}
	.page-template-page-int-students .price .intbtn .text-left {
		text-align: center !important;
	}
	.page-template-page-int-students .price .intbtn .purchase-btn {
		margin: 0 !important;
	}
	.int_testi_sec {
		padding-left: 10px;
		padding-right: 10px;
	}
	.intbtn .purchase-button:after {
		display: none;
	}
	.int_testi_sec + section.price.text-center.button_sec .price-sec.small_container.intbtn.sideArrow {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.price-box.bigbox {
		background-image: url(assets/images/mini-yellow-pack_new.png);
		background-size: 380px;
	}
	.price-box.bigbox p {
		width: 300px;
		margin: 0 auto;
	}
	.tab-content .tab-pane > img {
		height: 300px;
		width: auto;
/* 		width: 1920px; */
	}
	.map-marker.show768 {
/* 		display: block !important; */
		position: relative;
	}
	.tab-content .tab-pane .map-marker img {
		width: 40px;
		height: 50px;
		margin: 0 !important;
	}
	#exTab1 {
		position: relative;
	}
	.map-marker a span {
		font-size: 10px;
		text-align: center;
		width: 44px;
	}
	.map-marker .north-map {
		left: 400px !important;
		top: 32px;
	}
	.map-marker .central-map {
		left: 620px !important;
		top: 32px;
	}
	.map-marker .south-map {
		left: 670px !important;
		top: 32px;
	}
	.tab-content .tab-pane img {
		margin: 0;
		max-width: inherit;
		height: 320px;
	}
	.page-id-19 .tabs.inner.first {
		margin-bottom: 20px;
		padding-bottom: 40px;
	}
	.page-id-19 .tabs.inner.first + section.price.text-center.button_sec {
		padding-bottom: 0;
	}
	.int_testi_sec.small_container > div {
		padding-top: 50px;
	}
	.staff_sec .staff_i div:not(.row) {
		margin-bottom: 0;
	}
	.page-template-page-who-we-are .price,
	.page-template-page-staff .price {
		padding-bottom: 60px;	
	}
	.page-template-page-history .price {
		padding-bottom: 30px;	
	}
	.page-template-page-history .price.button_sec .container.small_container .row.price-sec.big_text {
		padding-bottom: 0 !important;
		padding-top: 30px !important;
	}
	.page-template-page-history .tabs.inner {
		padding-bottom: 30px;
	}
	.page-template-page-history .first.tabs.inner {
		margin-bottom: 30px;
	}
	body .game-point-component .profile-component .col-6 {
		width: 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	body .game-point-component .col-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 49%;
		flex: 0 0 49%;
	}
}

@media (max-width: 620px) {
	.hideDesktopSec {
		display: block;
	}
	.showDesktopSec {
		display: none;
	}
	.page-template-page-who-we-are .purchase-button figure,
	.page-template-page-staff .purchase-button figure {
		display: none;
	}
	body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body {
		padding: 40px 25px 60px;
	}
	body .game-point-component .what-is-number-modal .v-modal-wrapper .v-modal-container .v-modal-body,
	body .game-point-component .what-is-cvv-modal .v-modal-wrapper .v-modal-container .v-modal-body,
		/*body .game-point-component .buy-curds-success-modal .v-modal-wrapper .v-modal-container .v-modal-body,*/
	body .game-point-component .resend-success-modal .v-modal-wrapper .v-modal-container .v-modal-body {
		padding: 120px 25px;
	}
	body .game-point-component .buy-curds-success-modal + .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body {
		padding: 125px 25px;
	}
}
@media (max-width: 560px) {
	.price-box.bigbox {
		margin: 0;
	}
	.footer .footer-logo {
		margin: 40px auto;
	}
	footer .footer-menu ul {
		margin-bottom: 40px;
	}
	footer.footer {
		margin-top: 0;
	}
	body .game-point-component .payment-form .col-lg-6 + .col-lg-2 {
		max-width: 100%;
	}
	body .game-point-component .payment-form .col-lg-6 + .col-lg-2 .form-group {
		max-width: 46%;
	}
	body .game-point-component .payment-form .col-lg-2 {
		max-width: 49%;
	}

	.game-point-component .payment-form-container .added-package .package-title-subtitle {
		width: 50%;
	}
	.game-point-component .payment-form-container .added-package .package-title-subtitle .title {
		font-size: 20px;
		line-height: 1;
	}
	.game-point-component .payment-form-container .added-package .package-title-subtitle .subtitle {
		display: block;
		width: 100%;
		font-size: 12px;
		line-height: 1;
	}
	.game-point-component .payment-form-container .added-package .card-count {
		font-size: 20px;
		line-height: 1;
	}
	.game-point-component .payment-form-container .added-package .card-count span {
		display: block;
		width: 100%;
		font-size: 12px;
		line-height: 1.2;
		text-transform: capitalize;
	}
}

@media (max-width: 480px) {
	.price-box.bigbox {
		background-size: 320px;
	}
	.button_sec .big_text img,
	.big_text .alignright,
	.big_text .alignleft {
		float: none !important;
		display: block;
		margin: 20px auto 20px auto !important;
	}
	section.banner {
		height: 395px;
		background-image: url(assets/images/bg-320.png);
	}
	.price-box.bigbox h3 {
		margin-top: 0;
		padding-top: 0;
	}
	body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-message {
		font-size: 14px;
		line-height: 1.5;
	}
	body .game-point-component .payment-form-container,
	body .game-point-component .profile-component, body .game-point-component .payment-form-container, body .game-point-component .register-shadow-component, body .game-point-component .register-component {
		/*margin: 0 -15px;*/
	}
	body .game-point-component .profile-component, body .game-point-component .payment-form-container, body .game-point-component .register-shadow-component, body .game-point-component .register-component {
		padding: 35px 15px 40px;
	}
	/*body .game-point-component .payment-form-container .added-package {*/
		/*-ms-flex-wrap: wrap;flex-wrap: wrap;*/
	/*}*/
	body .game-point-component .payment-form-container .added-package > div:first-child {
		width: 100%;
	}
	body .game-point-component .text-right {
		text-align: left !important;
	}
}
@media (min-width: 474px) and (max-width: 481px) {
	.price-box.bigbox h4 {
		margin-bottom: 62px;
	}
	.price-box.bigbox p {
		width: 230px;
		margin: 0 auto;
	}
}
@media (max-width: 380px) {
	.xscontent img {
		width: 100%;
	}
	body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body {
		padding: 40px 15px 60px;
	}
	body .game-point-component .login-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body {
		padding: 40px 15px 60px;
	}
	body .game-point-component .password-reset-component, body .game-point-component .reload-card-init-form, body .overwrite-component {
		padding: 35px 15px;
	}
	body .game-point-component .what-is-number-modal .v-modal-wrapper .v-modal-container .v-modal-body,
	body .game-point-component .what-is-cvv-modal .v-modal-wrapper .v-modal-container .v-modal-body,
		/*body .game-point-component .buy-curds-success-modal .v-modal-wrapper .v-modal-container .v-modal-body,*/
	body .game-point-component .resend-success-modal .v-modal-wrapper .v-modal-container .v-modal-body {
		padding: 120px 15px;
	}
	body .game-point-component .buy-curds-success-modal + .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body {
		padding: 120px 15px;
	}
	footer .subscribe {
		max-width: 95%;
	}
}

@media only screen and (min-width: 360px) and (max-width: 380px) {
	.price-box.bigbox {
		/*background-size: 360px;*/
		/*min-height: 305px;*/
	}
	.price-box.bigbox h4 {
		/*font-size: 35px;*/
		/*margin-bottom: 45px;*/
	}
	.price-box.bigbox p {
		width: 230px;
		margin: 0 auto;
	}
}

/* HOT FIXES */
#menu-main-menu.nav>li.phone a {
	background: #0a3747 !important;
}
#div_video {
	margin-bottom: -1px;
}
body.page-id-58 .game-point-component .register-shadow-component .form-group-check label,
body.page-id-58 .game-point-component .registration-form .form-group-check label {
	margin-bottom: 15px !important;
}
body.page-id-58  .game-point-component .register-shadow-component .has-errors .form-group.is-invalid.form-group-check:after, body .game-point-component .register-component .has-errors .form-group.is-invalid.form-group-check:after {
	top: 38px;
}
body .game-point-component .card-details-modal.v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-buttons .btn{
	margin-bottom: 10px !important;
}

body .game-point-component .v-modal-mask.buy-curds-success-modal a.resend-link,
body .game-point-component .v-modal-mask.buy-curds-success-modal a.register-link {
  padding: 0 10px !important;
}


.game-point-component .form-control:disabled, .game-point-component .form-control[readonly] {
	background-color: #f7f7f7!important;
}

.register-card-init-form .help-block.invalid-feedback {
	position: absolute;
	bottom: 0;
	left: 5px;
	line-height: 1;
}
.register-card-init-form .form-group {
	margin-bottom: 0!important;
}
.register-card-init-form .what-is-this-link-component {
	margin-bottom: 30px;
}

.v-select input[type=search] {
	position: relative;
	top: -10px;
	width: 95%!important;
}

.game-point-component .playcards-component .playcards .playcard-property-title {
	max-width: 41%;
}

#div_video .videoBG #bVideo {
	top: 50% !important;
	transform: translateY(-50%);
}
.videoBG {
	background: #f8c8d6;
}

.atlwdg-trigger.atlwdg-RIGHT {
	z-index: 9899;
}

.white-space-nowrap .form-group label {
	white-space: nowrap;
}

.game-point-component .v-select.disabled .form-control:disabled {
	background-color: transparent !important;
} 
  
.game-point-component .v-select.disabled .dropdown-toggle {
    background-color: transparent;
}
section.main-gallery.location_sec .row {
	text-align: center;
}

section.main-gallery.location_sec .col-md-4 {
	min-height: 540px;
	display: inline-block;
}

section.main-gallery.location_sec .col-md-4:last-child {
	height: auto;
	float: none;
}

section.main-gallery.location_sec .col-md-4:last-child .dropdown_text {
	z-index: -1;
	position: relative;
}

@media(min-width: 768px) {
	.timing_sec .seasons.col-md-4.donut-rings {
		width: 100%;
		padding: 60px 33.33% 0 33.33%;
	}
}
body .game-point-component .playcards-component .playcards .playcard-image.card_type_99810 {
	background-image: url(assets/images/zelkys-white-card.png);
}
body .game-point-component .playcards-component .playcards .playcard-image.card_type_99812 {
	background-image: url(assets/images/zelkys-pink-card.png);
}
body .game-point-component .playcards-component .playcards .playcard-image.card_type_99820 {
	background-image: url(assets/images/zelkys-yellow-card.png);
}
body .game-point-component .playcards-component .playcards .playcard-image.card_type_99821 {
	background-image: url(assets/images/zelkys-gray-card.png);
}