@font-face {
  font-family: 'SFUIDisplay';
  src: url('../fonts/SFUIDisplay-Regular.eot');
  src: url('../fonts/SFUIDisplay-Regular.woff2') format('woff2'),
       url('../fonts/SFUIDisplay-Regular.woff') format('woff'),
       url('../fonts/SFUIDisplay-Regular.ttf') format('truetype'),
       url('../fonts/SFUIDisplay-Regular.svg#SFUIDisplay') format('svg'),
       url('../fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cosmopolitan Script';
  src: url('../fonts/cosmopolitan-script-bold.eot');
  src: url('../fonts/cosmopolitan-script-bold.woff2') format('woff2'),
       url('../fonts/cosmopolitan-script-bold.woff') format('woff'),
       url('../fonts/cosmopolitan-script-bold.ttf') format('truetype'),
       url('../fonts/cosmopolitan-script-bold.svg#Cosmopolitan Script') format('svg'),
       url('../fonts/cosmopolitan-script-bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry.eot');
  src: url('../fonts/Industry.woff2') format('woff2'),
       url('../fonts/Industry.woff') format('woff'),
       url('../fonts/Industry.ttf') format('truetype'),
       url('../fonts/Industry.svg#Industry') format('svg'),
       url('../fonts/Industry.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-Black.eot');
  src: url('../fonts/Industry-Black.woff2') format('woff2'),
       url('../fonts/Industry-Black.woff') format('woff'),
       url('../fonts/Industry-Black.ttf') format('truetype'),
       url('../fonts/Industry-Black.svg#Industry') format('svg'),
       url('../fonts/Industry-Black.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-Bold.eot');
  src: url('../fonts/Industry-Bold.woff2') format('woff2'),
       url('../fonts/Industry-Bold.woff') format('woff'),
       url('../fonts/Industry-Bold.ttf') format('truetype'),
       url('../fonts/Industry-Bold.svg#Industry') format('svg'),
       url('../fonts/Industry-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
