@import 'config.css';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');
body, html {
	height: 100%;
}
a:hover {
	text-decoration: none;
}
:focus {
	outline: none;
}
.mt-30 {
	margin-top: 30px;
}
.mt-40 {
	margin-top: 40px;
}
.mt-60 {
	margin-top: 60px;
}
.container {
	max-width: 1060px;
}
.header.container {
	max-width: 1260px;
	width: 100%;
}
header .top-header.container {
	padding-top: 11px;
	position: relative;
	z-index: 5;
}
header .top-header.container .logo {
	position: relative;
	z-index: 2;
	margin-bottom: -28px;
}

.inner {
	padding-bottom: 50px;
}

.locations ul {
	padding: 0;
	margin: 0;
}
.locations ul li {
	list-style: none;
	display: inline-block;
}
.locations ul li a {
	color: #f7b5cc;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Work Sans', sans-serif;
	letter-spacing: 0.18px;
	padding: 8px 10px;
	display: block;
}
.locations ul li a:hover {
	text-decoration: none;
	color: #ef86a5;
}
header .navbar {
	height: 50px;
	border: 0;
	margin-bottom: 0;
	background: #ef86a4;
	position: relative;
}
/*
header .navbar::after {
	position: absolute;
	content: '';
	right: 0;
	width: 40%;
	top: 0;
	height: 100%;
	background: #0a3747;
}*/

header .navbar ul li a {
	color: #0a3847;
	font-family: 'Work Sans', sans-serif;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.25px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}
header .navbar ul li.dropdown .dropdown-icon {
    width: 8px;
    height: 7px;
	display: inline-block;
	background: url('../images/dropdown.png') no-repeat;
}
.navbar-toggle {
	background-color: #0a3747;
	margin-top: 0;
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-toggle .icon-bar {
	background: #ef86a4;
}

.banner {
    background: #f8c8d6;
}

.front-video {
    height: 480px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

footer .footer-menu ul {
	margin: 0;
	padding: 0;
}
footer.footer {
	min-height: 207px;
	background-color: #0a3747;
	margin-top: 90px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
footer .footer-menu ul li {
	display: inline-block;
}
footer .footer-menu ul li a {
	color: #bfc7cc;
	font-family: 'Work Sans', sans-serif;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.18px;
	display: block;
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
}
footer .footer-menu ul li a:hover {
	text-decoration: none;
}
footer .footer-menu ul li.active {
}
footer .footer-logo {
	margin-top: -90px;
	margin-bottom: 20px;
}
footer .copyrights {
	color: #bfc7cc;
	font-family: 'Work Sans', sans-serif;
	font-size: 10px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.17px;
}
footer .social-icons {
	margin-top: 20px;
	margin-bottom: 10px;
}
footer .social-icons a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.rocket {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 20px 0;
	justify-content: center;
	font-size: 11px;
}


.rocket .rocket-made-by {
	color: #bfc7cc;
	opacity: 0.9;
	margin-right: 4px
}

.rocket .rocket-effect {
	color: #fff;
	padding-left: 13px;
	position: relative;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	white-space: nowrap;
	-webkit-transition: 0.3s;
	transition: 0.3s
}

.rocket .rocket-effect::before {
	content: '';
	position: absolute;
	display: block;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-60%);
	width: 11px;
	height: 11px;
	background: url("../images/rocket-effect-icon.svg") no-repeat 50%
}

.rocket .rocket-effect:hover,
.rocket .rocket-effect:focus,
.rocket .rocket-effect:active {
	border-bottom: 1px solid #EF3249;
}

.container img {
	max-width: 100%;
	height: auto;
}
.main-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.nav>li.phone a {
	padding-right: 0;
	padding-left: 0;
	background-color: #0a3747;
	color: #fff;
	padding-top: 0;
	padding-bottom: 0;
}
.nav>li.phone i {
	background-color: #f7b5cc;
	width: 50px;
	text-align: center;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	line-height: 50px;
	font-size: 20px;
}
.nav>li a {
	background-color: #ef86a4;
}
.nav>li>a {
	padding: 15px 10px;
}
.nav>li.phone-icon {
	background-color: #f7b5cc;
}
.banner img{
	width: 100%;
}
.curve-box {
	background-color: #f9c8d6;
	display: inline-block;
	margin: -170px auto 0;
	position: relative;
	padding: 13px 0 0;
	border-radius: 60px;
}
.curve-box h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #0a3847;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	margin-bottom: 0;
}
.curve-box h4 {
	font-family: "Cosmopolitan Script";
	font-size: 67px;
	font-weight: 700;
	color: #ffffff;
	letter-spacing: 2.24px;
	transform: rotate(-2deg);
	margin-top: 0;
	line-height: 60px;
	text-shadow: 1px 2px 5px #fff;
}
.curve-box h4 span {
	font-size: 95px;
}
.curve-box:after {
	content: "";
	background-image: url('../images/curve-right.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	height: 100%;
	width: 76px;
	position: absolute;
	right: -20px;
	top: 0;
	z-index: 99;
}
.curve-box:before {
	content: "";
	background-image: url('../images/curve-left.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100px;
	position: absolute;
	left: -20px;
	top: 0;
	z-index: 99;
}
.curve-shadow {
	background-image: url('../images/neon-light.png');
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 4px 49px 28px;
	position: relative;
	z-index: 9999;
}
.curve-shadow:before {
    content: '';
    background-image: url(../images/arrow.gif);
    background-repeat: no-repeat;
    width: 194px;
    height: 229px;
    position: absolute;
    left: -109px;
    top: 43px;
    transform: rotate(-2deg);
}
.price-content button:focus {
	outline: none;
}
.package_head h4 {
	margin-bottom: 0;
}
.fun-with-family {
	/*background-image: url('../images/fun-bg.png');*/
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	padding-bottom: 20px;
/* 	min-height: 562px; */
}
.fun-with-family .container {
	background: #fff;
}
.fun-fixed {
    position: fixed;
    /*top: 60px;*/
    bottom: 300px;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
}
.fun-with-family .arcade .shadow {
	border: 2px solid #ffffff;
	padding: 18px;
	box-shadow: 0 0 4px 0 #fff,
	inset 0 0 4px 0 #fff;
}
.fun-with-family .arcade {
	background-color: #f9c8d6;
	padding: 5px;
	max-width: 960px;
	margin: 30px auto;
}
.fun-with-family .arcade h3 {
	color: #0a3847;
	font-family: 'Work Sans', sans-serif;
	font-size: 34px;
	font-weight: 700;
	letter-spacing: 1.13px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
}
.fun-with-family .arcade h3 span {
	color: #0a3847;
	font-family: 'Work Sans', sans-serif;
	font-size: 34px;
	font-weight: 300;
	letter-spacing: 1.13px;
}
.fun-detail h3 {
	color: #ef86a5;
	font-family: 'Industry';
	font-size: 34px;
	letter-spacing: 1.13px;
	font-weight: 900;
	text-transform: uppercase;
	margin-top: 40px;
}
@media (min-width: 768px) {
.fun-detail h3.second {
margin-top: 10px;
margin-bottom: 0;
}	
}
.fun-detail h4 {
	color: #ef86a5;
	font-family: 'Industry';
	font-size: 30px;
	letter-spacing: 1px;
	font-weight: 900;
	margin-bottom: 25px;
}
.fun-detail p {
	color: #0a3847;
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.67px;
}
.fun-detail h3 span {
	color: #ef86a5;
	font-family: "Cosmopolitan Script";
	font-size: 64px;
	font-weight: 700;
	letter-spacing: 1.51px;
	text-transform: initial;
}
.tab-content .tab-pane img {
	width: 100%;
}
.tab-content .tab-pane {
	margin-bottom: 110px;
}
.nav-pills>li {
	float: none;
	display: inline-block;
	margin: -100px 0px 0;
	position: relative;
}
.nav-pills>li .tabs-text { 
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	color: #e37092;
	font-family: 'Industry';
	font-size: 24px;
	font-weight: 900;
	letter-spacing: 0.8px;
	bottom: -50px;
	text-transform: uppercase;
}
.nav-pills>li>a {
	padding: 5px;
	background: #ffd6e2;
}
.nav-pills>li+li {
	margin-left: 50px;
}
.nav>li.active>a,
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background: #ef86a4;
}
.tabs {
	background-color: #ffd6e2;
	padding-bottom: 100px;
	background-image: url('../images/wave.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
}
.purchase {
	padding: 100px 0;
}
.page-template-page-home .purchase {
	padding: 20px 0;
}
.purchase-btn {
	border-radius: 4px;
	background-color: #ffef2c;
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 17px;
	font-weight: 900;
	letter-spacing: 0.28px;
	padding: 15px 30px;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 20px;
	box-shadow: 0 2px 4px rgba(10, 55, 71, 0.5);
}
.purchase h6 {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.67px;
	margin-bottom: 30px;
}
.purchase h3 {
	color: #ef86a5;
	font-family: 'Industry';
	font-size: 36px;
	letter-spacing: 1.2px;
	margin-top: 40px;
	font-weight: 900;
}
.purchase h2 {
	color: #0a3847;
	font-family: "Cosmopolitan Script";
	font-size: 80px;
	font-weight: 700;
	letter-spacing: 2.67px;
}
.testimonial {
	background-color: #ffd6e2;
	background-image: url('../images/testi-icon.png');
	background-repeat: no-repeat;
	background-position: center top;
	padding: 100px 0 10px;
}
.bx-wrapper {
	background: none;
	box-shadow: 0 0 0;
	border: 0;
}
.testimonial li {
	background: #fff;
	padding: 25px 20px;
}
.testimonial .bx-wrapper .bx-prev {
	background: url('../images/prev.png');
	left: -50px;
}
.testimonial .bx-wrapper .bx-next {
	background: url('../images/next.png');
	right: -50px;
}
.testimonial .bx-wrapper .bx-controls-direction a {
	width: 35px;
	height: 35px;
}
.testimonial .author {
	color: #ef86a5;
	font-family: 'Industry';
	font-size: 26px;
	font-weight: 900;
	text-transform: uppercase;
	margin-top: 0;
}
.testimonial .city {
	color: #0a3847;
	font-family: "Cosmopolitan Script";
	font-size: 36px;
	font-weight: 700;
}
.testimonial p {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
}
.games {
	background-size: 100%;
	background-image: url('../images/wave.png');
	background-position: center top;
	padding-top: 60px;
	margin-top: -20px;
	background-repeat: no-repeat;
	padding-bottom: 80px;
}
.games h3 {
	color: #0a3847;
	font-family: 'Industry';
	font-size: 34px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0;
}
.games h5 {
	margin: 0;
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0.8px;
}
.games-sec {
	box-shadow: inset 0 -18px 10px #ffd6e2;
	background-color: #ffd5e1;
}
/*.games-sec .container {
	max-width: 1090px;
}*/
.games-sec .bx-wrapper {
	margin-top: -80px;
	margin-bottom: 15px;
}
.games-sec .bx-wrapper .bx-viewport {
	padding: 30px 0;
}
.games-sec .overlay {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	align-items: center;
	text-align: center;
	background: rgba(0,0,0,0.6);
}
.games-sec .overlay p {
	color: #ffffff;
	font-family: "Work Sans";
	font-size: 20px;
	font-weight: 500;
}
.games-sec .games-btn {
	border-radius: 4px;
	background-color: #ffef2c;
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 17px;
	font-weight: 900;
	letter-spacing: 0.28px;
	padding: 15px 18px;
	text-transform: uppercase;
	display: inline-block;
	box-shadow: 0 2px 4px rgba(10, 55, 71, 0.5);
	margin: 0 20px;
}
.games-sec .overlay p span {
	color: #ffffff;
	font-family: "Cosmopolitan Script";
	font-size: 37px;
	font-weight: 700;
	letter-spacing: 1px;
}
.games-sec figure {
	float: left;
	position: relative;
	align-items: center;
}
.games-sec figure.big-img {
	max-width: 512px;
}
.games-sec figure.small-img {
	max-width: 258px;
}
.games-sec .bx-wrapper .bx-prev {
	background: url('../images/prev.png');
	left: -50px;
}
.games-sec .bx-wrapper .bx-next {
	background: url('../images/next.png');
	right: -50px;
}
.games-sec .bx-wrapper .bx-controls-direction a {
	width: 35px;
	height: 35px;
}
.games-sec figure.active img {
	transform: scale(1.1);
	z-index: 999;
	position: relative;
	transition: all 0.3s;
	box-shadow: 0 12px 15px rgba(0, 0, 0, 0.8);
}
.games-sec figure.active .overlay {
	display: flex;
	z-index: 9999;
	transition: all 0.3s;
}
.games-sec figure .overlay div {
	width: 100%;
}
.card {
	border-top: 10px solid #0a3747;
}
.card h3 {
	color: #0a3847;
	font-family: 'Industry';
	font-size: 34px;
	letter-spacing: 1px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 40px
}
.card p {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 30px;
}
.card h2 {
	color: #0a3847;
	font-family: "Cosmopolitan Script";
	font-size: 54px;
	font-weight: 700;
	letter-spacing: 1.8px;
}
.card-content {
	background-image: url('../images/big-arrow.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top left;
	padding: 20px 0 0;
	padding-left: 110px;
}
.card-content-right {
	padding: 20px 0 10px;
	padding-left: 70px;
}
.button {
	border-radius: 4px;
	background-color: #ffef2c;
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 17px;
	font-weight: 900;
	letter-spacing: 0.28px;
	padding: 15px 30px;
	text-transform: uppercase;
	display: inline-block;
	box-shadow: 0 2px 4px rgba(10, 55, 71, 0.5);
}

.gallery {
	background-color: #ffd5e1;
}
.gallery-sec {
	background: #fff;
	padding: 7px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.post_meta_sec .share,
.gallery-sec .share,
.element-item .share {
	color: #f3aac5;
	font-family: "Work Sans";
	font-size: 12px;
	font-weight: 700;
	line-height: 23px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 8px;
}
.element-item .share {
	margin-bottom: 0;
}
.post_meta_sec .share a,
.gallery-sec .share a,
.element-item .share a {
	display: inline-block;
	width: 22px;
	height: 22px;
	border: 1px solid #f3a9c4;
	text-align: center;
	border-radius: 50%;
}
.post_meta_sec .share a:hover,
.gallery-sec .share a:hover,
.element-item .share a:hover {
	background: #f3a9c4;
}
.post_meta_sec .share a i,
.gallery-sec .share a i,
.element-item .share a i {
	color: #f3a9c4;
}
.post_meta_sec .share a:hover i,
.gallery-sec .share a:hover i,
.element-item .share a:hover i {
	color: #fff;
}
.gallery h3 {
	color: #0a3847;
	font-family: "Industry";
	font-size: 34px;
	letter-spacing: 1.13px;
	font-weight: 900;
	text-transform: uppercase;
}
.gallery p {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 17px;
	font-weight: 700;
	letter-spacing: 0.57px;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.gallery .bx-wrapper .bx-prev {
	background: url('../images/prev.png');
	left: -50px;
}
.gallery .bx-wrapper .bx-next {
	background: url('../images/next.png');
	right: -50px;
}
.gallery .bx-wrapper .bx-controls-direction a {
	width: 35px;
	height: 35px;
}
.what-we-do {
	padding: 80px 0;
	text-align: center;
}
.what-we-do .box {
	background-image: url('../images/combined-shape.png');
	background-repeat: no-repeat;
	background-size: 100%;
	/*padding: 15px 20px;*/
	padding: 10px 18px;
	display: inline-block;
	width: 158px;
	height: 100px;
	position: relative;
}
.what-we-do .box + .box {
	margin-left: 20px;
}
/*.what-we-do .box + .box:before {
	content: "";
	border-left: 2px dashed #0a3747;
	position: absolute;
	left: -13px;
	height: 100%;
	width: 2px;
	top: 0;
}*/
.what-we-do .box + .box:before {
    content: "";
    border-left: 2px dashed #0a3747;
    position: absolute;
    left: -13px;
    height: 80%;
    width: 2px;
    top: 10px;
}
.what-we-do .box figure {
	border-radius: 9px;
	border: 2px solid #0a3747;
	text-align: center;
	height: 80px;
}
.what-we-do .box figure figcaption {
	position: absolute;
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -30px;
}
.what-we-do .box.active figcaption {
	color: #ef86a5;
}
.social-icons a {
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	padding-top: 1px;
	border: 1px solid #94a3a8;
	color: #94a3a8;
	margin: 0 4px;
}

.sub-header {
	background-color: #f7b5cc;
	background-image: url('../images/sub-header-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	padding: 20px 0 15px;
}
.sub-header p {
	color: #0a3847;
	font-family: 'Industry';
	font-size: 18px;
	font-weight: 900;
	letter-spacing: 0.6px;
	text-transform: uppercase;
}
.sub-header h3 {
	color: #ef86a5;
	font-family: 'Industry';
	font-size: 36px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 900;
	margin-top: 0;
}
.sub-header h3 figure {
	display: inline-block;
	width: 150px;
}
.grid .element-item {
    width: 33.33%;
    padding: 10px;
    overflow: hidden;
}

.grid .element-item figure {
	position: relative;
}
.grid .element-item figure img {
	width: 100%;
}
.grid .element-item figure .share {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #fff;
	padding: 10px 15px;
}
.main-gallery {
	padding: 30px 0 30px 0;
}
.main-gallery .btn-tab {
	background: none;
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.6px;
	border: 2px solid transparent;
	text-transform: uppercase;
	padding: 8px 20px;
}
.main-gallery button.active {
	color: #ef86a5;
	border: 2px solid #ef86a4;
}
.filter-button-group {
	margin-bottom: 30px;
	text-align: center;
}

.button-wrapper {
	padding: 40px 0;
	text-align: center;
}

.game.desktop .bx-wrapper{
	margin-bottom: 30px;
}

.game {
	padding: 80px 0 50px;
	overflow-x: hidden;
}
.game ul {
	list-style: none;
	margin: 0;
}
.game ul li {
	background-color: #ffd6e2;
	margin-bottom: 10px;
	width: 100% !important;
}
.game ul li a {
	padding: 13px 20px 10px;
	display: block;
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.69px;
}
.game-content {
	display: flex;
/* 	min-height: 470px; */
	align-items: center;
}
.game-content > div {
	width: 100%;
}
.game h4 {
	color: #0a3847;
	font-family: 'Industry';
	font-weight: 900;
	font-size: 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.game p {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 23px;
}
.game .tab-content .tab-pane {
	margin-bottom: 0;
}
.game ul li a:focus {
	text-decoration: none;
}
.game ul li.active {
	border-bottom: 8px solid #ef86a4;
}
.game .bx-wrapper .bx-controls-direction a {
	width: 300px;
	height: 46px;
	background-color: #ef86a4;
}
.game .bx-wrapper .bx-controls-direction a.bx-next {
    /*top: 100%;*/
    right: 0;
    width: 87.5%;
    top: auto;
    bottom: -42px;
}
.game .bx-wrapper .bx-controls-direction a.bx-next {
	background-image: url('../images/slider-arrow.png');
	background-repeat: no-repeat;
	background-position: center;
}
.game .bx-wrapper .bx-controls-direction a.bx-prev {
    top: -43px;
    right: 0;
    width: 87.5%;
    left: auto;
}
.game .bx-wrapper .bx-controls-direction a.bx-prev {
	background-image: url('../images/slider-arrow.png');
	background-repeat: no-repeat;
	background-position: center;
	transform: rotate(180deg);
}
.game .bx-wrapper {
/* 	min-height: 428px; */
	max-width: 100% !important;
}
.price {
	padding-bottom: 100px;
}
.price .heading {
	padding: 45px 0;
}
.price .heading h3 {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 34px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.13px;
}
.price .heading p {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 18px;
	font-weight: 500;
	line-height: 23px;
}
.price-box {
	width: 329px;
	height: 180px;
	display: inline-block;
	background-image: url('../images/25dollars.png');
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 16px;
	margin: 0 10px;
}

.price-box.bigbox {
    max-width: 1050px;
    width: 100%;
    min-height: 210px;
    display: inline-block;
    /*background-image: url(../images/100dollars.png);*/
    background-image: url(../images/100dollars_new.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 15px;
    margin: 0 10px 10px;
    background-size: 98%;
    margin-left: 3px;
}
.price-box.bigbox h4 {
	color: #0a3847;
	font-family: "Industry";
	font-weight: 900;
	font-size: 35px;
	letter-spacing: 1.17px;
	margin-top: 10px;
	margin-bottom: 0;
	text-transform: uppercase;
	line-height: 1.1;
}
.add-package-button .price-box.bigbox h3,
.price-box.bigbox h3 {
	margin-top: 10px;
	margin-bottom: 0;
	line-height: 42px;
}
.price-box-container {
	display: inline-block;
}
.add-package-button .price-box h3,
.price-box h3 {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 1.6px;
	margin-top: 20px;
    margin-bottom: 10px;
}
.price-box h3 span {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 0.8px;
	display: inline-block;
	vertical-align: top;
	margin-left: -10px;
}
.price-box h3 p {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
}
.price-sec {
	padding: 40px 0 0;
}
.page-template-page-staff .price-sec {
    padding: 20px 0 0;
}
.price-sec h4 {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.8px;
	margin-bottom: 40px;
}
.page-template-page-packages .price-sec h4 {
	margin-bottom: 20px;
}
.page-template-page-who-we-are .price-sec h4,
.page-template-page-history .price-sec h4 {
	margin-bottom: 25px;
    margin-top: 0;
}
.page-template-page-history .tabs.inner.first {
	margin-bottom: 30px;
}
.page-template-page-packages .price.text-center.button_sec .price-sec {
	padding: 0;
}
.page-template-page-packages .price.text-center.button_sec .price-sec .purchase-button.text-center.mt-40 {
	margin-top: 20px;
}
.price-sec p {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 23px;
}
.price-img-sec {
	background-color: #fff1f5;
	background-image: url('../images/wave.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 80px;
}
.price-img-sec figure {
	margin-top: -65px;
	margin-bottom: 45px;
}
.price-img-sec figure img {
	margin: 0 auto;
}
.price-img-sec h4 {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.8px;
}
.price-content {
	padding-top: 50px;
	padding-bottom: 50px;
}
.price-content h3 {
	color: #ef86a5;
	font-family: "Industry";
	font-size: 42px;
	letter-spacing: 1.4px;
	font-weight: 900;
	text-transform: uppercase;
}
.price-content .row {
	margin-top: 100px;
}
.price-content h4 {
	color: #0a3847;
	font-family: "Industry";
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 900;
}
.price-content p {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
}
.price-content ul {
	margin: 0;
	padding: 0;
}
.price-content ul li {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 400;
	position: relative;
	padding-left: 20px;
	list-style: none;
	padding-bottom: 15px;
}
.price-content ul li:before {
	content: "";
	width: 8px;
	height: 8px;
	background-color: #ffef2c;
	position: absolute;
	left: 0;
	top: 6px;
}
.price-content small {
	color: #94a3a8;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	margin-top: 60px;
	display: inline-block;
}
.price-content button {
    background-color: #ffef2c;
    background-position: right;
    background-repeat: no-repeat;
    color: #0a3847;
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    border: 0;
    display: inline-block;
    position: relative;
    padding: 4px 5px 4px 86px;
    margin-left: -71px;
    margin-bottom: 15px;
    margin-top: 7px;
    cursor: default;
    text-transform: uppercase;
}
.price-content button:after {
	content: '';
	background-image: url('../images/btn-arrow.png');
    position: absolute;
    right: -31px;
    height: 38px;
    width: 31px;
    top: -5px;
}
.price-content.one {
	background-image: url('../images/bg-one.png');
	background-position: right bottom;
	background-size: 50%;
	background-repeat: no-repeat;
}
.price-content.two {
	background-image: url('../images/bg-two.png');
	background-position: -65px bottom;
	background-size: 50%;
	background-repeat: no-repeat;
}
.price-content.three {
	background-image: url('../images/bg-three.png');
	background-position: right;
	background-size: 50%;
	background-repeat: no-repeat;
}
.dropdown-menu {
	padding: 0;
}
.game .bx-wrapper {
	margin-bottom: 0;
}


.purchase-button figure {
	width: 150px;
	display: inline-block;
}
.animated-arrow {
    margin-left: 0;
    -webkit-animation: animate 2s infinite;
}
@-webkit-keyframes animate {
    50% {
        margin-left: 43px;
    }
}
.animated-arrow-right {
    -webkit-animation: animateright 2s infinite;
}
@-webkit-keyframes animateright {
    50% {
        margin-left: -41px;
    }
}


.parallax-window {
    min-height: 300px;
    background: transparent;
    padding-top: 0;
}
#exTab1 > .container {
	position: relative;
}
.map {
	background: #fff;
}
/*.games {
	background-color: #fff;
}*/
.map-marker {
	position: absolute;
	top: 72px;
	width: 800px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.map-marker > div {
	position: absolute;

}
.map-marker .south-map {
	right: 203px;
}
.map-marker .central-map {
	right: 284px;
}
.map-marker .north-map {
	left: 85px;
}
.fun-img img {
	max-width: 100%;
}
.fun-img {
	margin-top: -13%;
	text-align: center;
}
.subscribe {
	max-width: 595px;
	width: 100%;
	margin: -117px auto 40px;
	text-align: left;
}
.subscribe h3 {
	color: #0a3847;
	font-family: 'Industry';
	font-size: 24px;
	font-weight: 900;
	letter-spacing: 0.8px;
	text-transform: uppercase;
	/*padding-left: 60px;*/
	text-align: center;
}
.subscribe-box {
	border: 4px solid #ffffff;
	background-color: #0a3747;
	padding: 16px 60px;
}
.subscribe h6 {
	color: #ffef2c;
	font-family: "Work Sans";
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.22px;
	margin-top: 0;
}
.subscribe input {
    background-color: #ffffff;
    height: 38px;
    line-height: 38px;
    padding: 0 11px;
    width: 300px;
    margin-right: 13px;
}
.subscribe-btn {
	width: 150px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 4px;
    background-color: #ffef2c;
    color: #0a3847;
    font-family: "Work Sans";
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 0.28px;
    border: 0;
    text-transform: uppercase;
    vertical-align: middle;
}

.game .bx-viewport {
/*     min-height: 400px; */
}
.map-marker a span {
	color: #ef86a5;
	font-family: "Work Sans";
	font-size: 8px;
	font-weight: 700;
	letter-spacing: 0.26px;
	margin-top: 5px;
	text-transform: uppercase;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: #ef86a4;
}
.game.desktop .col-md-7 {
/*     min-height: 451px; */
    align-items: center;
    display: flex;
}

.mobile {
	display: none !important;
}

@media (min-width: 1025px) and (max-width: 1200px) {
	.bx-controls-direction a {
    	display: none;
    }
	.testimonial .bx-controls-direction a,
	.testimonial .bx-controls {
		display: block;
	}
}
@media (min-width: 769px) and (max-width: 1200px) {
	section.testimonial .bx-wrapper {
		margin: 0 auto 40px auto;	
	}
}
@media (min-width: 1021px) and (max-width: 1200px) {
	header .top-header.container .logo {
/* 		margin-bottom: -20px; */
	}
	header li:not(#menu-item-75) .dropdown-menu {
		padding-left: 38% !important;
	}
	.container .price-sec {
		padding-left: 15px;
		padding-right: 15px;
	}
	.fixy > div {
		height: auto !important;
	}
	.navbar-collapse {
		padding: 0;
	}
	.navbar-right .dropdown-menu {
		left: 0;
	}
	.navbar-right {
/* 		margin-right: 10px; */
/* 		float: left !important; */
	}
	.phone.menu-item.menu-item-type-custom > a {
		padding-right: 15px;
	}
	.games {
		margin-top: -15px;
	}
	.games-sec figure.big-img {
		max-width: 467px;
	}
	.games-sec .overlay p {
		font-size: 16px;
	}
	.games-sec .overlay p span {
		font-size: 30px;
	}
	.games-sec figure.small-img {
		max-width: 235px;
	}
	.games-sec .games-btn {
		font-size: 14px;
	}
	.button {
		font-size: 15px;
	}
    .small-img.active > img {
    	height: auto !important;
    }
    .games-sec figure.small-img.active {
    	max-width: 234px;
    }
}
@media (min-width: 769px) and (max-width: 1020px) {
	.bx-controls {
		display: none;
	}
	.bx-controls-direction a {
    	display: none;
    }
	.testimonial .bx-controls-direction a,
	.testimonial .bx-controls {
		display: block;
	}
}

@media (min-width: 768px) and (max-width: 1020px) {
	.tabs .nav {
		padding-left: 15px;
	}
	.fixy > div {
		height: auto !important;
	}
	.map-marker {
		top: 11px;
	}
	.nav-pills>li {
	    margin: -100px 0 0;
	}
	.curve-box h4 {
		font-size: 59px;
	}
	.curve-box h3 {
		font-size: 32px;
	}
	.games {
		margin-top: -10px;
	}
	.games-sec figure.active img {
		height: auto !important;
		transform: scale(1) !important;
	}
	figure.small-img.active {
	    margin-bottom: 0;
	}
	.games-sec figure.big-img {
	    max-width: 358px;
	}
	.games-sec figure.small-img {
	    max-width: 180px;
	    min-height: 180px;
	}
	.games-sec .overlay p span {
		font-size: 32px;
	}
	.games-sec .games-btn {
		font-size: 13px;
	}
	.what-we-do .box {
	    width: 123px;
	    height: 79px;
	}
	.what-we-do .box img {
		max-width: 100%;
	}
	.overlay {
		display: none !important;
	}
	.what-we-do .box figure {
		height: 50px;
	}
}

@media (min-width: 0) and (max-width: 1080px) {
    .navbar-collapse.collapse {
        display: none !important;
        position: relative;
        z-index: 99999999999;
    }
    .timing_sec button {
    	font-size: 16px;
    	margin: 0 6px;
    }
    .price-content .pull-right img {
    	margin-left: 0 !important;
    }
    .price-content.two .col-md-6 img {
    	margin-left: 0 !important;
    }
    .price-content .col-md-6.pull-right {
    	float: none !important;
    	text-align: center;
    }
    .price-sec.small_container .col-md-6 {
    	padding-bottom: 30px;
    }
    .row.seasons .col-md-4.text-right {
    	text-align: center;
    }
    .price.button_sec .container.small_container .row.price-sec.big_text {
    	padding-left: 15px !important;
    	padding-right: 15px !important;
    }
    .container .price-sec {
    	padding-left: 15px;
    	padding-right: 15px;
    }
    .games-sec .overlay p span {
    	font-size: 28px;
    }
    .games-sec .overlay p {
    	font-size: 16px;
    }
    .what-we-do .box img {
    	max-width: 44%;
    }
    .gallery-slider li {
		margin-right: 10px !important;
	}
    header .top-header.container .logo {
        padding-top: 5px;
    }
    .header-desktop {
        display: none !important;
    }
    .header-mobile {
        display: block !important;
    }
    .navbar .container {
        padding: 0;
    }
    header .top-header.container {
        padding-top: 0;
    }
    header .navbar {
    	background: #ef86a4;
    	height: 44px;
    	min-height: 44px;
    }
    .locations ul.mobile {
    	margin-right: -12px;
    }
    .locations ul.mobile li a {
    	color: #0a3847;
    	padding-right: 0;
    	padding-top: 12px;
    	font-size: 15px;
    }
    .locations ul.mobile li a img {
    	margin-left: 3px;
    }
    .mobile-phone {
        float: right;
        padding: 10px 12px 8px 12px;
        background: #f7b5cc;
    }
    .navbar-toggle {
        margin-right: 0;
    }
    .mobile-phone i {
    	color: #fff;
    	font-size: 24px;
    }
    .header.container {
    	/*background: #ef86a4;*/
    	position: relative;
    }
    .price-content.one,
    .price-content.two,
    .price-content.three {
    	background-image: none;
    }
    .price-content .row {
    	margin-top: 0;
    }
    .price-box h3 {
    	font-size: 40px;
    }
    .price-box.bigbox h4 {
    	font-size: 30px;
    }
   /* .price-box.bigbox h4 {
    	margin-top: 0;
    }*/
    /*.price-box.bigbox h3 {
    	line-height: 33px;
    	margin-top: 5px;
    }*/
    .price-box.bigbox {
    	background-position: top center;
    	background-size: 101% 94%;
    	margin-left: 0;
    }

    .navbar-right .dropdown-menu {
    	left: 0;
    }
    .navbar-collapse {
    	padding-left: 0;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }

	.navbar-nav::after {
		display: none;
	}

    .navbar-header {
        float: none;
    }

    /*

        The changes start from here:

    */

	header .navbar::after {
		width: 0;
	}
	
    .navbar-right {
        float: none !important;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-collapse {
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    }

    .container-fluid > .navbar-collapse {
        margin-right: -15px;
        margin-left: -15px;
    }

    .container-fluid > .navbar-header {
        margin-right: -15px;
        margin-left: -15px;
    }
    .timing_sec button {
    	margin: 5px !important;
    	display: inline-block;
    	width: 44%;
	    padding: 0 19px !important;
    	text-align: left;
    }
    .timing_sec h3.name:before {
    	left: 0 !important;
    }
    .timing_sec .timings {
    	padding-left: 30px;
    }
    .timing_sec h3.name {
    	padding-left: 30px;
    }
    .timing_sec h3 {
    	padding-left: 30px;
    }
    p.email {
    	padding-left: 30px;
    }
    .timing_sec .seasons > * {
    	padding-left: 0 !important;
    }
	body .game-point-component .package-payment-form-component .btn {
		margin-right: auto!important;
	}
}
@media (min-width: 0) and (max-width: 768px) {
	#ship-to-different-address-checkbox {
		position: relative;
		margin: 0px;
	}
	input#coupon_code {
		width: 100%;
		margin: 0 0 10px 0;
	}
	button.button[name="update_cart"],
	button.button[name="apply_coupon"] {
		width: 100% !important;
		margin: 0 0 10px 0 !important;
	}
	.game.mobile .container {
		max-width: 320px;
	}
	.fun-detail {
		position: relative;
		top: 0;
		z-index: 999;
	}
	.price-box h3 {
	    font-size: 40px;
	    padding-top: 15px;
	}
	.map-marker {
		top: 36px !important;
	}
	.map-marker {
		width: 100% !important;
	}
	.map-marker img {
		width: 29px;
	}
	.map-marker .north-map {
		left: 20px !important;
	}
	.map-marker .south-map {
	    right: 10px !important;
	}
	.map-marker .central-map {
	    right: 50px !important;
	}
	.fun-detail {
		text-align: center;
	}
	.fun-img img {
		width: 100%;
	}
	.navbar .container {
	    padding: 0 15px;
	}
	.navbar-nav {
	    margin: 0 -15px 0 0;
	}
	.desktop {
		display: none !important;
	}
	.mobile {
		display: block !important;
	}
	header .top-header.container .logo {
	    width: 170px;
        margin-bottom: -24px;
    	padding-top: 10px;
	}
	.banner {
		overflow-x: hidden;
	}
	.curve-shadow {

	}
	.banner img {
    	 width: auto; 
	    height: 461px;
	    margin-left: -537px;
	}
	.curve-box {
		padding: 0;
	}
	header .top-header.container .logo img {
		width: 100%;
	}
	.animated-arrow {
		animation: none;
	}
	.animated-arrow-right {
		animation: none;
	}
	.purchase-button figure {
		width: auto;
	}
	header .top-header.container {
		padding-top: 0;
	}
	.price-content {
		padding: 25px 0;
	}
	/*.locations ul {
	    margin-top: -15px;
	    padding-bottom: 20px;
	}*/
	.sub-header h3 figure {
		width: auto;
	}
	.game ul {
		padding-left: 0;
	}
	.navbar-collapse {
		position: relative;
		z-index: 9999999;
	}
	.sub-header h3 img {
		display: none;
	}
	.game ul li a {
		border-bottom: 8px solid #ef86a4;
		position: relative;
	}
	.game ul li a:after {
		
		content: "\f078";
		font-family: FontAwesome;
		position: absolute;
		right: 15px;
		top: 12px;
		font-size: 16px;
		color: #0a3747;
	}
	.game ul li a.collapsed {
		border-bottom: 0 solid #ef86a4;
	}
	.sub-header h3 {
		font-size: 30px;
		margin-top: 0;
	}
	.sub-header p {
		display: none;
	}
	.sub-header {
		height: 150px;
		display: flex;
		align-items: center;
	}
	.filter-button-group {
		margin-bottom: 20px;
	}
	.main-gallery button {
		font-size: 12px;
/* 		padding: 0 5px; */
	}
	.grid .element-item {
		width: 100%;
	}
	.curve-box {
		margin-top: -71px;
		border-radius: 35px;
	}
	.curve-shadow {
	    background-image: url(../images/neon-light.png);
	    background-repeat: no-repeat;
        background-size: 265px 119px;
		padding: 4px 11px 11px;
		position: relative;
		z-index: 9999;
		background-position: -7px;
	}
	.curve-box:before {
		left: -12px;
	}
	.curve-box:after {
	    content: "";
	    background-image: url(../images/curve-right.png);
	    background-repeat: no-repeat;
        background-size: 44px;
	    background-position: right;
	    height: 100%;
	    width: 76px;
	    position: absolute;
	    right: -11px;
	    top: 0;
	    z-index: 99;
	}
	.curve-box h3 {
		font-size: 18px;
	}
	.curve-box h4 {
		font-size: 30px;
		line-height: 34px;
	}
	.curve-box h4 span {
		font-size: 34px;
	}
	.curve-shadow:before {
        content: '';
	    background-image: url(../images/arrow.gif);
	    background-repeat: no-repeat;
	    width: 33px;
	    height: 67px;
	    position: absolute;
	    left: -30px;
	    top: 60px;
	    transform: rotate(-11deg);
	    background-size: cover;
	}
	.fun-with-family .arcade h3 {
		font-size: 19px;
	}
	.fun-with-family .arcade h3 span {
		font-size: 17px;
		display: block;
	}
	.fun-with-family .arcade {
		margin-top: 10px;
	}
	.fun-detail h3 {
		font-size: 24px;
	}
	.fun-detail h4 {
		font-size: 24px;
		padding: 0 10px;
	}
	.fun-detail p {
		font-size: 20px;
		padding: 0 10px;
		margin-top: 10px;
	}
	.fun-detail h3 {
		font-size: 27px;
		margin-top: 20px;
	}
	.fun-detail h3 span {
		font-size: 53px;
	}
	.tab-content .tab-pane img {
		width: auto;
		height: 286px;
		margin-left: -200px;
	}
	.fun-with-family {
		padding-bottom: 10px;
		border-top: 27px solid #ef86a4;
		min-height: auto;
	}
	.game {
		padding: 40px 0 10px 0;
	}
	.game h4 {
		margin-top: 30px;
	}
	.nav-pills>li {
		width: 30%;
		margin: 0;
	}
	.panel-group .panel {
		border-radius: 0;
		border: 0;
		box-shadow: 0 0 0;
	}
	.panel-collapse {
		margin-bottom: 50px;
	}
	.panel-collapse figure {
		margin-top: 40px;
	}
	.tab-content .tab-pane {
		margin-bottom: 10px;
		overflow-x: scroll;
	}
	.nav-pills>li a img {
		width: 100%;
	}
	.nav-pills>li+li {
		width: 30%;
		margin-left: 0;
	}
	.tabs {
		padding: 30px 0 70px;
	}
	.nav-pills>li .tabs-text {
		font-size: 16px;
	}
	.testimonial li {
		margin-right: 0 !important;
	}
	.bx-wrapper {
		margin-bottom: 0;
	}
	.testimonial .bx-wrapper .bx-viewport {
		height: auto !important;
	}
	.testimonial .bx-wrapper {
		padding-bottom: 80px;
	}
	.games {
		margin-top: -8px;
		background-size: 200%;
		padding-top: 40px;
	}
	.page-template-page-int-students .price-sec,
	.page-template-page-who-we-are .price-sec {
		padding-top: 20px;
	}
	.page-template-page-who-we-are .tabs.inner {
		padding-bottom: 30px;
	}
	.purchase {
		padding: 0 0 30px;
	}
	.purchase-button img {
	    width: 50px;
	}
	.games-sec figure.big-img {
		display: none;
	}
	.games-sec {
		background-color: transparent;
		box-shadow: 0 0 0 000;
		padding-bottom: 50px;
	}
	.purchase-btn {
		padding: 10px 17px;
		font-size: 14px;
	}
	.overlay-text {
		text-align: center;
	}
	.overlay-text p {
		font-size: 20px;
		font-family: "Work Sans";
	}
	.overlay-text p span {
		font-family: "Cosmopolitan Script";
		font-size: 37px;
		font-weight: 700;
	}
	.gallery-sec {
		margin-bottom: 7px;
	}
	footer.footer {
		margin-top: 100px;
	}
	.games-sec .bx-controls {
		display: none;
	}
	.gallery-slider li {
		margin-right: 12px !important;
		/*max-width: 140px;*/
		padding-bottom: 80px;
	}
	.gallery .bx-wrapper .bx-next {
		right: 34%;
		top: auto;
		bottom: 10px;
	}
	.gallery .bx-wrapper .bx-prev {
		left: 34%;
		top: auto;
		bottom: 10px;
	}
	.purchase h3 {
		margin-top: 0;
		font-size: 36px;
	}
	.purchase h2 {
		font-size: 52px;
	}
	.card-content {
		padding: 20px 0 0;
		padding-left: 80px;
	}
	.card h3 {
		font-size: 24px;
		margin-bottom: 20px;
	}
	.button {
		padding: 8px 9px;
		font-size: 14px;
	}
	.card h2 {
		font-size: 35px;
	}
	.card-content-right {
		padding: 20px 10px;
	}
	/*.bx-controls.bx-has-controls-direction {
		display: none;
	}*/
	.what-we-do .box + .box {
		margin-bottom: 50px;
		margin-left: 12px;
	}
	.map {
		overflow-x: hidden;
	}
	.testimonial .bx-wrapper .bx-next {
		right: 34%;
	}
	.testimonial .bx-wrapper .bx-prev {
		left: 34%;
	}
	.testimonial li {
		padding-bottom: 30px;
	}
	.what-we-do .box + .box:before {
		display: none;
	}
	.games-sec figure.small-img {
		width: 48%;
		margin: 2px;
		max-width: 100%;
	}
	.games-sec ul li figure:nth-child(2) {
	    margin-bottom: 0;
	}
	.games-sec figure.active .overlay {
		display: none;
	}
	.games-sec figure.active img {
		transform: scale(1);
		box-shadow: 0 0 0 000;
	}
	.small-img img {
		width: 100%;
	}
	.games-sec figure.small-img.active img {
		transform: scale(1) !important;
		width: 100% !important;
		height: auto !important;
	}
	.price .heading h3 {
		font-size: 24px;
	}
	.price-box.bigbox h4 {
	    font-size: 35px;
	    margin-bottom: 30px;
	}
	.price-box.bigbox {
		background-image: url(../images/big-bg-res.png);
	    background-repeat: no-repeat;
	    background-position: bottom;
	    padding-top: 15px;
	    margin: 10px 0;
	    background-size: 93%;
	    margin-left: 0;
	    border-radius: 4px;
	    overflow: hidden;
	    width: 100%;
	    padding: 15px;
	    min-height: 282px;
		margin-top: -20px;
	}
	.price-content h3 {
		font-size: 42px;
	}
	.price-content .row {
		margin-top: 30px;
	}
	.price-content.one,
	.price-content.two,
	.price-content.three {
		background-image: none;
	}
	.price-content small {
		margin-bottom: 30px;
	}
	.gallery h3 {
		margin-top: 40px;
	}
	.gallery-sec .share, .element-item .share {
		/*display: none;*/
		padding: 5px 10px !important;
	}
	footer .footer-menu ul {
		text-align: center;
	}
	footer .footer-menu ul li {
		/*width: 48%;
		text-align: left;*/
		padding: 0 4px;
	}
	footer .footer-menu ul li a {
		padding: 0;
	}
	footer .footer-menu ul {
		/*text-align: left;*/
	}
	footer.footer {
		padding-bottom: 30px;
	}
	.subscribe-box:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	.page-id-19 .tabs.inner.first {
		display: block;
	}
	.subscribe h3 {
		padding-left: 15px;
	}
	.subscribe-box {
		padding-left: 15px;
		padding-right: 15px;
	}
	.subscribe input {
		width: 100%;
		margin-bottom: 15px;
	}
	.subscribe-btn {
		float: right;
	}
	.price-box {
		width: 300px;
	}
}

@media (max-width: 600px) {
	.page-template-page-history .price-sec {
		padding-top: 0;
	}

    .fun-img {
        margin-top: -16%;
    }
}

@media (min-width: 500px) and (max-width: 768px) {
	.curve-box h3 {
		font-size: 27px;
	}
	.curve-box h4 {
		font-size: 51px;
	}
	.curve-box {
		width: 77%;
		border-radius: 100px 86px 93px 200px;
	}
	.curve-box h4 span {
		font-size: 65px;
	}
	.curve-shadow {
		padding: 15px 11px 11px;
		background-size: 105% 98%;
		background-position: -11px;
	}
	.curve-box:before {
		left: -11px;
	}
	.curve-box:after {
		right: -13px;
		background-size: 55px;
	}
	.gallery-slider li {
		min-width: 262px;
		margin-right: 9px !important;
	}
	.gallery-sec {
		margin-bottom: 9px;
	}
	.gallery-sec img {
		width: 100%;
	}
	.gallery .bx-wrapper .bx-next {
		right: 42%;
	}
	.gallery .bx-wrapper .bx-prev {
		left: 41%;
	}
	.curve-shadow:before {
	    width: 45px;
	    height: 78%;
	    left: -43px;
	    transform: rotate(-10deg);
	    top: 49px;
	}
	.fun-with-family .arcade {
		margin: 30px 15px;
	}
	.fun-with-family .arcade h3 span {
		display: inline-block;
	}
	.fun-with-family .arcade {
		margin-top: 15px;
	}
	.fun-detail h3 {
		font-size: 34px;
	}
	.fun-detail h4 {
		font-size: 30px;
	}
	.fun-with-family {
	    /*padding-bottom: 175px;*/
	    border-top: 27px solid #ef86a4;
	    /*background-size: 200%;*/
	}
	.purchase h2 {
		font-size: 80px;
	}
	.testimonial .container {
		max-width: 320px;
	}
	.games {
		margin-top: -12px;
	}
	.games-sec figure.small-img {
	    width: 49%;
	    margin: 2.5px;
	    max-width: 100%;
	}
	.gallery p {
		margin-bottom: 15px;
	}
}
@media(max-width: 500px) {
	.bx-wrapper .bx-controls-direction a {
		top: auto;
		bottom: 25px;
	}
}
@media (min-width: 550px) and (max-width: 768px) {
	.tab-content .tab-pane img {
		width: 100%;
		height: 180px;
		margin-left: -0px;
	}
	.testimonial .bx-wrapper .bx-prev {
		left: -30%;
	}
	.testimonial .bx-wrapper .bx-next {
		right: -30%;
	}
	.testimonial .bx-wrapper .bx-controls-direction a {
		top: 38%;
	}
}

.price-content.two img {
    margin-left: 10px !important;
}
#menu-main-menu > li:last-child a {
    background: transparent !important;
    color: #fff !important;
}
.nav>li a img.hover {
    display: none;
}
.nav>li:hover a img.hover {
    display: inline-block;
}
.nav>li:hover a img.normal {
    display: none;
}
header .nav>li .dropdown-menu a {
    color: #0a3847 !important;
}

header .nav>li .dropdown-menu li:hover a {
    color: #ef86a4 !important;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background: #fff;
    text-align: center;
    padding-top: 30px;
	padding-bottom: 30px;
	overflow-y: auto;
}
.mobile-nav .nav>li a {
	background-color: transparent;
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 15px;
	font-weight: 700;
	/* Text style for "About" */
	letter-spacing: 0.25px;
	text-transform: uppercase;
}
.mobile-nav .nav>li .dropdown-menu li a {
	color: #ef86a5;
	font-family: "Work Sans";
	font-size: 15px;
	font-weight: 700;
	/* Text style for "Big Games" */
	letter-spacing: 0.25px;
	text-transform: uppercase;
	text-align: center;
}
.mobile-nav .close-btn {
	position: absolute;
	right: 30px;
	top: 25px;
	cursor: pointer;
}
.mobile-nav .navbar-nav {
	padding-top: 30px;
	margin: 0 30px;
}
.mobile-nav .nav>li {
	border-top: 2px solid #f7b5cc;
}
.mobile-nav .nav>li:first-child {
	border-top: 0 solid #f7b5cc;
}
.mobile-nav .nav>li:last-child {
	display: none;
}
.mobile-nav .nav>li.menu-item-74 {
	padding-top: 50px;
}
.mobile-nav .nav li.show>a, .mobile-nav .nav li.show>a:focus, .mobile-nav .nav li.show>a:hover
.mobile-nav .nav .open>a, .mobile-nav .nav .open>a:focus, .mobile-nav .nav .open>a:hover {
	background-color: transparent;
}
.mobile-nav .menu-item-has-children.dropdown:before {
	content: '';
	background-image: url('../images/mob-arrow-down.png');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 8px;
	height: 6px;
	bottom: 3px;
}
.mobile-nav .menu-item-has-children.show.dropdown:before,
.mobile-nav .menu-item-has-children.open.dropdown:before {
	transform: rotate(180deg);
}
.mobile-nav .navbar-nav .open .dropdown-menu {
	padding-bottom: 20px;
}
/*.mobile-nav .menu-item-has-children.dropdown.open:before {
	content: '';
	background-image: url('../images/mob-arrow-up.png');
}
*/
#bs-example-navbar-collapse-1 {
	background: #ef86a4;
}
img {
	 max-width: 100%;
}
body.page-id-359 .game-point-component .package-payment-form-component .row.cart-row label {
	font-size: 12px;
}

@media only screen and (max-width: 768px) {
	.subscribe-box .form-group {
		width: 100%!important;
	}
}
@media only screen and (min-width: 769px) {
	.subscribe-box .form-group:first-child {
		width: 42%!important;
	}
	.subscribe-box .form-group:nth-child(2) {
		width: 25%!important;
	}
	.subscribe-box .form-group:nth-child(3) {
		width: 33%!important;
	}
}
@media only screen and (max-width: 580px) {
	body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container {
		width: 92%!important;
	}
	body .game-point-component .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body {
		padding: 40px 25px 60px 25px;
	}
	body .game-point-component .card-number-help {
		width: auto;
		max-width: 100%;
	}
	body .game-point-component .payment-form-container form .package-payment-form-component .added-package .btn {
		width: 11px!important;
		height: 15px;
		margin-bottom: 0 !important;
		background-position: left center!important;
		padding: 0!important;
	}
}

/* BUY A CARD
-------------------------------------------------------------------------------------------------------- */
.buy-card-head {
	text-align: center;
	font-family: "Work Sans";
	margin: 40px 0;
	padding: 0 15px;
}

.buy-card-head__title {
	color: #0a3847;
	font-size: 34px;
	font-weight: 700;
	letter-spacing: 1.13px;
	margin-bottom: 12px;
}

.buy-card-head__subtitle {
	color: #0a3847;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.8px;
	margin-bottom: 10px;
}

.buy-card-head__description {
	color: #0a3847;
	font-size: 18px;
	font-weight: 500;
	line-height: 23px;
}

.link {
	color: #ef86a5;
	font-weight: 700;
}

/* BUY A CARD ACCORDION
-------------------------------------------------------------------------------------------------------- */
.page-purchase-a-card {
	margin-top: 120px;
}

.buy-card-form {
	display: flex;
	align-items: flex-start;
}

.buy-card-form-wrapper {
	width: 80%;
    margin: 0 auto;
}

.buy-card-accordion {
	width: 100%;
}

.buy-card-step {
	background: #fff;
	display: flex;
	padding: 30px 50px;
	font-family: "Industry";
	align-items: flex-end;
	font-weight: 900;
	cursor: pointer;
	color: #0a3847;
	border: 1px solid #d7d7d7;
}

.buy-card-step:first-child {
	margin-top: 0;
}

.buy-card-step.ui-accordion-header-active.ui-state-active {

}

.buy-card-form .buy-card-accordion .buy-card-step__name,
.buy-card-form .buy-card-accordion .buy-card-step__amount{
	font-weight: 900;
	font-family: Industry, sans-serif;
}

.buy-card-step__name {
	font-size: 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	position: relative;
}

.buy-card-step__name::before {
	content: '';
	width: 21px;
	height: 20px;
	background: url(../images/triangle-icon.svg) no-repeat 50%;
	position: absolute;
	left: -30px;
	top: 55%;
	transform: translateY(-50%);
}

.buy-card-step__amount {
	font-size: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: 0;
}

.buy-card-cart__amount-text {
	display: none;
}

.buy-card-step__content {
	padding: 30px 50px;
	background: #0a3847;
	margin-bottom: 20px;
}

.submit-wrapper {
	margin-top: 20px;
	padding: 0 15px;
}

.package-payment-form-component.buy-card-form .submit-wrapper .btn-size-xl {
	white-space: normal;
}



/* BUY A CARD FORM
-------------------------------------------------------------------------------------------------------- */
.game-point-component {
	margin-bottom: 50px;
}

.buy-card-accordion label {
	color: #f5e300;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 700;
	letter-spacing: -0.28px;
	text-transform: uppercase;
}

.buy-card-accordion .btn-primary {
	border-radius: 4px;
	background-color: #ffef2c;
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 17px;
	font-weight: 900;
	letter-spacing: 0.28px;
	padding: 8px 30px;
	text-transform: uppercase;
	box-shadow: 0 2px 4px rgba(10, 55, 71, 0.5);
	width: auto;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	outline: 0;
	border: 0;
}

.package-payment-form-component.buy-card-form .buy-card-accordion .btn-right {
	margin-right: 0;
}

.package-payment-form-component.buy-card-form .buy-card-accordion .btn-remove {
	border: none;
	background: none;
}

.package-payment-form-component.buy-card-form .buy-card-accordion .btn-remove .buy-card-cart__action-text {
	margin-left: 10px;
}

.package-payment-form-component.buy-card-form .buy-card-accordion .btn-next {
	color: #0a3847;
	font-family: "Work Sans";
	font-size: 19px;
	font-weight: 700;
	letter-spacing: 0.63px;
	text-transform: uppercase;
	background: #fff;
	border-radius: 0;
	height: 30px;
	padding: 0 40px;
	display: block;
	margin-right: 0;
	margin-left: auto;
	border: none;
	margin-top: 30px;
}

.package-payment-form-component.buy-card-form .buy-card-accordion .btn-size-xl {
	width: 240px;
	margin: 30px auto 10px;
	white-space: normal;
}

.buy-card-accordion .cart-row {
	display: flex;
	justify-content: space-between;
}

.buy-card-cart {
	padding: 15px 0;
	margin-bottom: 15px;
}

.buy-card-cart-row {
	color: #bfc7cc;
	font-family: "Work Sans";
	font-size: 16px;
	font-weight: 600;
	letter-spacing: -0.32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.buy-card-cart__item {
	min-width: 225px;
}

.buy-card-cart__item-price {
	margin-right: 10px;
}

.buy-card-cart__item-plus {
	display: none;
}

.buy-card-cart__action {
	font-family: "Work Sans";
	font-size: 12px;
	font-weight: 700;
	letter-spacing: -0.24px;
}

.buy-card-accordion .buy-card-opt-in-hint {
	position: relative;
	color: #fff;
	display: flex;
	align-items: center;
}

.buy-card-accordion .buy-card-opt-in-hint .form-control{
	width: 18px;
	margin-right: 15px;
	cursor: pointer;
}

.buy-card-accordion .buy-card-opt-in-hint i {
	background-image: url(../images/checked.svg);
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	top: 2px;
	left: 2px;
	position: absolute;
}

.buy-card-accordion .form-agreement {
	margin-top: 15px;
}

.buy-card-form .buy-card-accordion .buy-card-opt-in-hint {
    margin-top: 20px;
}

.buy-card-form .buy-card-accordion .buy-card-opt-in-hint input {
    width: 20px;
    height: 20px;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.buy-card-form .buy-card-accordion .buy-card-opt-in-hint input:checked + label::after {
    background: #f5e300;
}

.buy-card-form .buy-card-accordion .buy-card-opt-in-hint label {
    color: #edf0f0;
    font-family: "Work Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: 0;
    height: 20px;
    text-transform: none;
}

.buy-card-opt-in-hint label::before {
    position: absolute;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    left: -19px;
    top: 0;
}

.buy-card-opt-in-hint label::after {
    position: absolute;
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    left: -15px;
    top: 4px;
}


/* BUY A CARD SUMMARY
-------------------------------------------------------------------------------------------------------- */
.buy-card-summary {
	width: 215px;
	padding: 20px;
	border: 1px solid #0a3847;
	margin-left: 20px;
	background: #0a3847;
	position: absolute;
	right: 0;
	box-shadow: rgb(204, 204, 204) 1px 0 8px 0;
	transform: translateX(50%);
}

.buy-card-summary__head {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
	color: #fff;
	font-family: "Work Sans";
	font-size: 16px;
	font-weight: 600;
	letter-spacing: -0.32px;
}

.buy-card-summary__content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 11px;
	color: #fff;
	font-family: "Work Sans";
	font-size: 16px;
	font-weight: 600;
	letter-spacing: -0.32px;
}

.buy-card-summary__content-amount-of-cards__name {
	display: none;
}

.buy-card-summary__content-price {
	padding-right: 10px;
}

.buy-card-summary__footer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 17px;
	color: #fff;
	font-family: "Work Sans";
	font-size: 18px;
	font-weight: 700;
	letter-spacing: -0.36px;
	text-transform: uppercase;
}

.buy-card-summary__footer:last-child {
	margin-bottom: 0;
}


.game-point-component .buy-card-summary hr {
	background: #fff url("../images/summary-line.png");
	height: 7px;
	margin-bottom: 20px;
}

.payment-form .section-title {
	color: #fff;
	font-family: "Work Sans";
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.36px;
	margin-bottom: 12px;
}

body .game-point-component .buy-card-step__content .section-title {
	color: #fff;
	font-family: "Work Sans";
	font-size: 18px;
	font-weight: 700;
	letter-spacing: -0.36px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.show-s {
	display: none !important;
}

/* BUY A CARD MEDIA QUERY
-------------------------------------------------------------------------------------------------------- */
@media (max-width: 1350px) {
    .buy-card-form-wrapper {
        width: 63%;
    }

    .buy-card-summary {
        transform: translateX(5%);
    }
}

@media (max-width: 1200px) {
    .buy-card-form-wrapper {
        width: 70%;
    }

    .buy-card-summary {
        transform: translateX(37%);
    }
}

@media (max-width: 1100px) {
    .buy-card-form-wrapper {
        width: 100%;
    }

    .buy-card-summary {
        margin: 10px auto 20px !important;
        position: static;
        transform: none;
        box-shadow: none;
    }

    .buy-card-form {
        display: block;
    }

    .hide-s {
        display: none !important;
    }

    .show-s {
        display: block !important;
    }
}

@media (max-width: 992px) {
	.buy-card-accordion .cart-col {
		width: 100%;
	}

    .buy-card-accordion .cart-row {
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .front-video {
        height: auto;
        width: 100%;
    }

	.buy-card-accordion .buy-card-step {
		position: relative;
		align-items: flex-start;
		padding: 50px 15px 20px;
	}

    .game-point-component .buy-card-form .w-50-s {
        width: 50%;
    }

	.buy-card-accordion .buy-card-step__amount {
		position: absolute;
		top: 15px;
		left: 50%;
		transform: translateX(-50%);
	}

	.buy-card-accordion .buy-card-step__name {
		/*text-align: center;*/
		padding-left: 35px;
	}

	.buy-card-accordion .buy-card-step__name::before {
		left: 0;
	}

	.buy-card-accordion .ui-accordion-header-icon.ui-icon {
		margin-top: 3px;
	}

	.buy-card-cart__item-price,
	.buy-card-cart__amount {
		font-size: 24px;
	}

	.buy-card-cart__amount {
		text-align: center;
	}

	.buy-card-cart__item-bonus,
	.buy-card-cart__amount-text {
		font-size: 12px;
	}

	.buy-card-summary {
		width: 100%;
		border: none;
		background: none;
		padding: 0;
	}

	.buy-card-summary__head {
		display: none;
	}

	.buy-card-summary__content-amount-of-cards {
		text-align: center;
	}

	.buy-card-summary__content-bonus-wrapper-open {
		display: block;
		font-size: 12px;
	}

	.buy-card-cart__item {
		min-width: 60px;
	}

	.buy-card-summary__content-price {
		font-size: 18px;
	}

	.buy-card-summary__content-amount-of-cards__name {
		display: block;
	}

	.buy-card-summary__content{
		border: 1px solid #0a3847;
		padding: 8px;
		border-radius: 5px;
		color: #0a3847;
	}

	.buy-card-summary__footer-wrapper {
		border: 1px solid #0a3847;
		padding: 12px 8px;
		border-radius: 5px;
	}

	.buy-card-summary__footer {
		color: #0a3847;
		font-size: 22px;
	}

	.buy-card-summary__footer:last-child {
		font-size: 26px;
	}

	.game-point-component .buy-card-summary hr {
		display: none;
	}

	.buy-card-cart__item-bonus-wrapper-open {
		display: flex;
	}
}

@media (max-width: 560px) {
	.buy-card-summary {
		margin: 10px auto;
	}

	.buy-card-step__content {
		padding: 30px 15px;
	}

	.buy-card-cart-row {
		border: 1px solid #ccc;
		padding: 7px;
		border-radius: 3px;
	}

	.buy-card-cart__item-price,
	.buy-card-cart__item-bonus,
	.buy-card-accordion .buy-card-cart__amount-number,
	.buy-card-cart__amount-text {
		display: block;
	}

	.buy-card-accordion .buy-card-cart__amount-number,
	.buy-card-cart__amount-text {
		text-align: center;
	}

	.buy-card-cart__action-text {
		display: none;
	}

	.buy-card-accordion .btn.btn-right {
		margin-right: auto;
		width: 100%;
		margin-top: 15px;
	}

	.buy-card-cart {
		padding-bottom: 5px;
	}

	.buy-card-step__amount {
		text-align: center;
		width: 100%;
		padding-right: 15px;
	}

	.buy-card-accordion .btn.btn-next {
		width: 100%;
	}

	.package-payment-form-component.buy-card-form .buy-card-accordion .btn-next {
		width: 100%;
	}

	body .game-point-component .buy-card-step__content .btn.btn-primary {
		width: 100% !important;
		margin-top: 5px !important;
		margin-bottom: 25px !important;
	}
}

/* RELOAD A CARD PAGE
-------------------------------------------------------------------------------------------------------- */
.page-playcard-reload {
	margin-top: 160px;
}
